[2022-04-03 07:55] yxxhero opened #6 "Add DCO verify in CI"
Add DCO verify in ci

[2022-04-03 08:16] mumoshu commented on #6
I've just enabled https://probot.github.io/apps/dco/ on this repository.

[2022-04-03 08:16] #6 closed

[2022-04-03 14:38] yxxhero opened #14 "mv github.com/roboll/helmfile to github.com/helmfile/helmfile"
### Operating system

None

### Helmfile Version

None

### Helm Version

None

### Bug description

https://github.com/helmfile/helmfile/blob/01b5b79a01a01d793e44e085cada050f606b2b18/go.mod#L1

change to  github.com/helmfile/helmfile

### Steps to reproduce

None

### Relevant discussion

_No response_

[2022-04-04 01:10] mumoshu commented on #14
@yxxhero I have not decided how we should manage these "tasks" like this one in our Issues! Until we come up with a nice way to do so, please avoid using bug reports like this(as it isn't really a bug). We've been overwhelmed by bad-formatted issues for 2 years and I'd like to avoid that to happen again.

Instead, please feel free to submit a pull request with a complete description of your goal.

[2022-04-04 01:10] #14 closed

[2022-04-08 10:10] itscaro opened #29 "Subhelmfiles path resolution bug"
### Operating system

alpine 3.13.10

### Helmfile Version

dev

### Helm Version

v3.7.2

### Bug description

test fixture:  https://github.com/itscaro/helmfile/tree/qtran/bug-relative-paths

subhelmfile loader resolves to `app1/app1` instead of `app1`

[code]

### Steps to reproduce

https://github.com/itscaro/helmfile/tree/qtran/bug-relative-paths

### Relevant discussion

_No response_

[2022-04-08 14:15] itscaro commented on #29
https://github.com/helmfile/helmfile/blob/main/pkg/app/app.go#L672-L679

We change working dir then we try to get absPath

I tried to get absPath before changing the working dir, then I encountered on this error, we changed working dir ( `./app1` instead of `./`)already but the `normalize` function returns `./app1/values1.yaml` and failed:
[code]
https://github.com/helmfile/helmfile/blob/main/pkg/

[2022-04-11 03:54] yxxhero opened #30 "`--output-dir /opt/helmfile_render/` Incorrect / handling"
### Operating system

centos7

### Helmfile Version

v0.144.0

### Helm Version

version.BuildInfo{Version:"v3.8.1", GitCommit:"5cb9af4b1b271d11d7a97a71df3ac337dd94ad37", GitTreeState:"clean", GoVersion:"go1.17.5"}

### Bug description

args: --output-dir /opt/helmfile_render/
output: /opt/helmfile_render//helmfile-496c211e-test

### Steps to reproduce

args: --output-dir /opt/helmfile_render/

##

[2022-04-13 23:20] #30 closed

[2022-04-14 11:22] stunsara opened #41 "Embedded helmfiles accessing through ssh not working, when using helmfile dockerimage"
### Operating system

Mac OS 12.0.1

### Helmfile Version

0.144.0

### Helm Version

v3.7.2

### Bug description

SSH bin is absent in helmfile dockerimage.

**Images affected:**
quay.io/roboll/helmfile:v0.144.0-stable-slim
quay.io/roboll/helmfile:v0.144.0

### Steps to reproduce

1. Helmfile.yaml:
[code]
2. Try to sync/template/test with cmd:
[code]

**Actual result:**
[code]

### Relevant discu

[2022-04-14 22:19] mumoshu commented on #41
What do you mean by "No response" in the `Relevant discussion` field? 🤔 I couldn't locate any related discussions in the Discussions page.

[2022-04-14 22:23] mumoshu commented on #41
Hey. Is this really a bug?
I thought we had never discussed what to be included in our official container image.
Is including everything to support every use-case is a good thing for the project? 🤔

[2022-04-16 13:49] stunsara commented on #41
As i have understood - it's default value for this field, in issue wizard, didn't touch it at all :)

From the user's point of view - definitely yes. Using offical image, i expect all features to work properly.
Plus, I was searching mistakes in my helmfile.yaml, when hitted this problem.

[2022-04-17 04:58] mumoshu commented on #41
@stunsara Ah, really! Thanks for clarifying. I never realized that it behaves like that because I didn't put the default value in the issue form declaration at all!

Plus, I was searching mistakes in my helmfile.yaml, when hitted this problem.

That makes sense! We need to do our best to not surprise users using the official image.

Would you mind contributing an enhancement to our dockerfile?

[2022-04-20 09:39] mjhuber opened #49 "needs resolution failure when using template"
### Operating system

macOS 12.3.1

### Helmfile Version

v0.143.4

### Helm Version

3.8.1

### Bug description

when a defined release is using a template, resolution of `needs` can fail unless `kubeContext` is defined explicitly in the release.  For example, given this helmfile below I receive the following error:

[code]

[code]

however, if I add the field `kubeContext` to the release, it wor

[2022-04-20 20:02] chrisduong opened #50 "skipDeps field is not respected"
### Operating system

macOS

### Helmfile Version

v0.144.0

### Helm Version

v3.8.1

### Bug description

I set `skipDeps: true` but Helmfile continues to update the dependencies.

[code]

### Steps to reproduce

set `skipDeps: true`

### Relevant discussion

_No response_

[2022-04-21 20:28] itscaro commented on #50
Hello, thank you for submitting bug report. Is it possible for you to attach a test case?

[2022-04-22 00:08] #41 closed

[2022-04-22 17:37] Morriz opened #61 "helmfile apply: .Capabilities.KubeVersion.Version empty or not from cluster"
### Operating system

ubuntu:20.04

### Helmfile Version

0.144.0

### Helm Version

3.8.2

### Bug description

Hi, `helmfile apply` seems to not use `.Capabilities.KubeVersion.Version` from the cluster.
The command translates to `helm upgrade --install ...` as it is the first install. The implicit `diff` before `sync` (that is what apply does if I'm not mistaken) seems to work because it sees th

[2022-04-22 20:34] Morriz commented on #61
Ok, sad to see helm is such a mess. I have discovered that the `--kube-version` flag was put back in (in `3.6.0`), but _only_ for `template`. It is not supported for `helm upgrade --install`, leaving a gazillion charts that rely on `.Capabilities.KubeVersion` (bitnami?) unusable on 1.22 clusters.

[2022-04-22 21:21] Morriz commented on #61
nevermind...big error on my side...somewhere there was a hardcode apiVersion in the values...bah

[2022-04-22 21:21] #61 closed

[2022-04-25 20:26] gakesson commented on #49
+1 on this issue. We're currently "stuck" on 0.142 version due to this.

[2022-04-29 17:17] #29 closed

[2022-05-06 02:10] yjqg6666 opened #80 "update README to the latest tag url"
### Operating system

N/A

### Helmfile Version

LATEST

### Helm Version

LATEST

### Bug description

update tag url location.

### Steps to reproduce

N/A

### Relevant discussion

N/A

[2022-05-12 23:50] #50 closed

[2022-05-20 05:34] #80 closed

[2022-05-20 12:25] teksuo opened #105 "Cleanup hook fired at the beginning instead of at the end when using nested states"
### Operating system

Ubuntu 22 & Manjaro

### Helmfile Version

0.144.0

### Helm Version

3.9.0

### Bug description

I have a helmfile with a global "cleanup" hook and a "postsync" and "postuninstall" hook per-release. Everything works like a charm for both "sync" and "destroy" commands and the "cleanup" hook is always executed after all the releases have been processed.

However, when I start

[2022-05-30 11:55] philippeckel opened #121 "Color output not working for Helm diff plugin in Docker container due to older version"
### Operating system

Ubuntu 20.04

### Helmfile Version

v0.144.0

### Helm Version

v3.7.2

### Bug description

The colored output for `helmfile diff` is not working in the Docker container due to version v3.3.1 of the `helm diff` plugin being used in the image.

[v3.4.0 ](https://github.com/databus23/helm-diff/releases/tag/v3.4.0) of `helm-diff` fixes this. Therefore the Docker image should be

[2022-05-31 13:13] #121 closed

[2022-06-02 15:01] teodorkostov-es opened #125 ".Values are not available for a local chart"
### Operating system

Arch Linux

### Helmfile Version

0.144.0

### Helm Version

3.9.0

### Bug description

`.Values` are not available for a local chart.

[code]

[code]

### Steps to reproduce

http://here

### Relevant discussion

_No response_

[2022-06-02 15:05] teodorkostov-es opened #126 "releases[].condition does not allow nested values"
### Operating system

Arch Linux

### Helmfile Version

0.144.0

### Helm Version

3.9.0

### Bug description

[code]

Using `etcd.persistence.enabled` should be perfectly file. Allowing only a top level value to have `enabled` is kind of discriminatory.

### Steps to reproduce

http://here

### Relevant discussion

_No response_

[2022-06-02 15:17] teodorkostov-es opened #127 "helmfile parses commented releases and issues errors if a value was renamed"
### Operating system

Arch Linux

### Helmfile Version

0.144.0

### Helm Version

3.9.0

### Bug description

Why?

[code]

### Steps to reproduce

http://here

### Relevant discussion

_No response_

[2022-06-02 15:36] teodorkostov-es opened #128 "Mysterious errors on releases reorder"
### Operating system

Arch Linux

### Helmfile Version

0.144.0

### Helm Version

3.9.0

### Bug description

[code]

I have 3 charts. Third chart is a deployment with a service. The `etcd-storage` is just a manually defined `PersistentVolume`.

`helmfile template` works just fine.

Running like this causes `Error: Failed to render chart: exit status 1: Error: failed to download "apisix/apisix"`.

[2022-06-05 06:42] mumoshu commented on #128
@teodorkostov-es Hey! Thanks for reporting, but this doesn't seem like a bug in Helmfile. Could you double-check your network? The error message seems to indicate that your network is unreliable so it was unable to DNS lookup the host name for your K8s apisever, while helm invoked by helmfile is running.
If you need further user support, please feel free to use "Discussions".

[2022-06-05 06:42] #128 closed

[2022-06-05 06:43] mumoshu commented on #127
@teodorkostov-es The whole `helmfile.yaml` is a go template, and helmfile renders the template as a yaml to be parsed. So, what you described is exactly how Helmfile works, although confusing 🙏

[2022-06-05 06:43] #127 closed

[2022-06-05 06:50] mumoshu commented on #126
@teodorkostov-es Environment values and release values are two different things in Helmfile. What you refer in `condition` is the latter, release values. You'd need to define it under `releases[].values`. Seeing your example, apparently you already understand that?

Just try running `helmfile build` to see how the release values are rendered. it does include `etcd.persistence.enabled` so it should

[2022-06-05 06:50] #126 closed

[2022-06-05 06:54] mumoshu commented on #125
@teodorkostov-es I tried to reproduce it running `helmfile template` with your example as-is, but got another unrelated error `failed to parse condition in release local-chart: Condition value must be in the form 'foo.enabled' where 'foo' can be modified as necessary`. Also, the line number `49` shown in your error message doesn't match with the content of your example helmfile.yaml. Perhaps you h

[2022-06-05 06:54] #125 closed

[2022-06-05 07:15] mumoshu commented on #105
@teksuo Hey! Thanks a lot for reporting. It's very unfortunately this isn't documented anywhere, but it's the expected behavior as of today.

Helmfile is designed around the idea that each sub-helmfile (i.e. nested state) is independent of the parent helmfile.yaml, and should be able to run directly. If the global cleanup was designed to be called after the nested states, it encourages the opposit

[2022-06-05 08:12] #105 closed

[2022-06-06 12:05] teodorkostov-es commented on #128
Wow! This is extremely buggy pre-alpha software and you are just closing my issues without even waiting for a reply. Obviously not interested in improving. Pathetic.

[2022-06-08 01:31] mumoshu commented on #128
I don't think it's fair to be blamed for your broken DNS. We're eager to fix any real issues but we have a very limited resource(as it's almost a voluntary project) so every new issue needs enough information and the reproduction steps. Otherwise, you end up asking random questions on unrelated system issues to a totally irrelevant person.
"Obviously not interested in improving" is simply untrue.

[2022-06-08 01:38] mumoshu commented on #128
I usually respond to every new issue within a day or two as you can see in https://github.com/roboll/helmfile/issues. Before the move I usually waited until the report replies to my comment/answer/question/etc. But 50% of the time the reporter just disappear and the end result is hundreds of dangling issues. That said, the way we handle issues today doesn't seem that bad, as we won't leave danglin

[2022-06-08 01:44] mumoshu commented on #128
"This is extremely buggy pre-alpha software" What a gift! I have maintained this for 3 or more years because I'm still using it and everyone continuously tells me that they're using it in their production environments. And that's what I get from you. You basically made my 3 years worthless in one sentence.

[2022-06-10 17:43] qkflies opened #156 "Skip Dependency Update for Ad Hoc Dependencies"
### Discussed in https://github.com/helmfile/helmfile/discussions/155

<div type='discussions-op-text'>

<sup>Originally posted by **qkflies** June 10, 2022</sup>
~~I was going to open an issue for this, but apparently, it's not possible to open issues right now?~~ (figured it out)

I've been using a local directory as an ad-hoc dependency for my helmfile templating use case. This has worked in in

[2022-06-10 18:02] qkflies commented on #156
Taking another look at [the explanatory comment](https://github.com/variantdev/chartify/blob/fd01ac9e08f16408046cf80d439511b9d2fd504a/chartify.go#L343-L348), it seems to assume that any ad-hoc dependency chart (1) is remote and/or (2) has dependencies that are remote. For the use case where the ad-hoc dependency(s) are purely local, I'm not certain if a more viable path would be to detect whether

[2022-06-10 19:22] qkflies commented on #156
Oh, I forgot to mention #50 seems like it could possibly be the same thing, not a whole lot of detail on the report though

[2022-06-13 12:00] qkflies commented on #156
Hi @mumoshu, we did try these options. Unfortunately, the [section of code from Chartify linked above](https://github.com/variantdev/chartify/blob/fd01ac9e08f16408046cf80d439511b9d2fd504a/chartify.go#L338-L369) still triggers when we use these options, because we are utilizing the `adhocChartDependencies` to point to a local chart (that is, `len(u.AdhocChartDependencies) == 0` is never satisfied).

[2022-06-14 00:23] mumoshu commented on #156
@qkflies Ahhhh okay that makes sense. I don't remember the rationale behind that logic, but now it looks like we should just remove the redundant `len(u.AdhocChartDependencies) == 0` check. Otherwise, `SkipDeps` doesn't fully do what it's supposed to to do...

However, that might not be the only thing we need.

@bhester01 @qkflies As of today, I thought Helmfile nor chartify had no way to "vendor"

[2022-06-14 00:52] bhester01 commented on #156
@mumoshu it doesn't have any built in way for sure. We pull the chart, unpack it, run the updates in an internet connected environment, then ship them to the air gap. Even for charts without dependencies this required deps update breaks ad hoc dependency add. Currently I adhoc add another local chart that I have in the repo to combine with a chart I pull from a local registry.

[2022-06-14 01:07] mumoshu commented on #156
@bhester01 Thanks! Gotcha. So you might better open another dedicated issue to add support for airgapped deployments to Helmfile.

If you're going to provide your own way to bundle your helmfile.yaml and charts, the only missing piece would be what's being fixed via this issue- make `skipDeps` work for ad-hoc deps.

BTW, how do you manage environment secrets/ release secrets? Does your airgapped e

[2022-06-14 01:26] bhester01 commented on #156
@mumoshu airgap deployments work fine with helmfile with skipDeps: true. The issue is just the adhoc dependencies so yes if chartify would acknowledge that flag it would fix the issue.

Yes we use a secrets management system and environment configuration information so our helmfile is as generic as possible and can be used to deploy to a large number of environments.

Things like sealed secrets an

[2022-06-14 01:28] bhester01 commented on #156
An interesting note about the way chartify renders things into k8s manifests and maybe something for another issue but if there is a kustomize file in a chart (which there never should be but istio has one) chartify will use it. See the istio/istiod chart for a really awful example that caused us a lot of pain trying to figure out why we kept getting default values when using helmfile template but

[2022-06-14 02:07] qkflies commented on #156
@mumoshu So, I almost went ahead and opened a pull request to do this, but looking at it I was reminded that the following explanatory comment for this check is like so:

[code]
So, would it still make sense to yank the check entirely? That would change current behavior, which was [implemented 14 months ago](https://github.com/variantdev/chartify/commit/c9b4508f8a490d167eac6c96032d049eda0728a9).

[2022-06-14 02:28] bhester01 commented on #156
I actually think I might have made a very poor assumption. We are doing a dependency build and update on the chart without the adhoc added. The adhoc is just a folder with manifests in it but without helm update it won't pull that into the chart. This has more to do with helm not having an option to support redirecting to a local repo/registry or being able to add local content without doing the d

[2022-06-20 10:56] tigerquoll opened #171 "Distribution of releases"
### Discussed in https://github.com/helmfile/helmfile/discussions/119

<div type='discussions-op-text'>

<sup>Originally posted by **samuelsayag** May 29, 2022</sup>
Hello,

Would it be possible to have the helmfile binaries distributed like in the old repository and not just having sources?

LIke this:

![image](https://user-images.githubusercontent.com/6291619/170856978-9da84409-0178-4cbd-a7d1-1

[2022-06-20 11:21] eperdeme commented on #171
It's breaking functions such as https://github.com/feniix/asdf-helmfile/issues/4

[2022-06-21 00:50] yxxhero commented on #171
@eperdeme @tigerquoll It will be published in the near future.

[2022-06-29 07:05] BernhardGruen opened #187 "Version 0.144.0 affected by critical go-getter (1.5.9) vulnerability"
### Discussed in https://github.com/helmfile/helmfile/discussions/186

Hey,

Our trivy found out that helmfile (0.144.0 - newest version as of today) is affected by a critical vulnerability in go-getter.
These are the corresponding CVEs:
  * https://avd.aquasec.com/nvd/cve-2022-26945 (command injection vulnerability)
  * https://avd.aquasec.com/nvd/cve-2022-30321 (unsafe download (issue 1 of 3))

[2022-06-29 20:31] raxod502-plaid opened #192 "No option to open bug report"
When clicking `New issue` there is no option to open a bug report:

<img width="1263" alt="image" src="https://user-images.githubusercontent.com/69264599/176539021-9d12e156-f08b-4c3a-943a-1049810791d7.png">

This is presumably because of the following error message at https://github.com/helmfile/helmfile/blob/main/.github/ISSUE_TEMPLATE/bug.yml as a result of https://github.com/helmfile/helmfile/p

[2022-06-29 20:44] raxod502-plaid opened #193 "Incompatible with latest helm-secrets"
@jkroepke mentioned in https://github.com/roboll/helmfile/issues/1878#issuecomment-860043605 an upcoming change in helm-secrets which would break helmfile, which has since been released and breaks helmfile. I think the following code section needs to be updated to correspond to the newer helm-secrets behavior that was described in the linked comment: https://github.com/helmfile/helmfile/blob/9dca4

[2022-06-29 21:48] raxod502-plaid commented on #193
A workaround is to use a suffix other than `.yaml` on your secrets file. We renamed our secrets files from `.yaml` to `.yml` and it works fine, albeit looking very silly.

[2022-06-29 23:13] #171 closed

[2022-06-29 23:24] yxxhero commented on #192
@mumoshu Thanks very much.

[2022-06-29 23:56] #192 closed

[2022-06-30 00:08] philomory commented on #193
I think maybe a better way to resolve this would be to avoid decrypting secrets files to a decrypted file at all; it would probably be better to simply capture the stdout of `helm secrets view`, than to run `helm secrets dec`, work out the path to the decrypted file, read it, and then delete it manually.

[2022-06-30 00:12] yxxhero commented on #187
@BernhardGruen Welcome to create a PR.

[2022-06-30 01:23] philomory commented on #193
I think something like this would do it, though I haven't tested it yet:
[code]

[2022-06-30 01:25] yxxhero commented on #193
@philomory Can you create a PR. reveiw it toghter.Thanks very much.

[2022-06-30 08:57] #187 closed

[2022-06-30 10:06] fbordallo opened #203 ""needs:" dependency does not work if kubecontext contains a forward slash"
### Operating system

Ubuntu 20.04

### Helmfile Version

v0.144.0

### Helm Version

version.BuildInfo{Version:"v3.7.0", GitCommit:"eeac83883cb4014fe60267ec6373570374ce770b", GitTreeState:"clean", GoVersion:"go1.16.8"}

### Bug description

This issue was mentioned at https://github.com/roboll/helmfile/issues/2048#issuecomment-1013513979 .

Helmfile fails to evaluate a **needs:** dependency corre

[2022-06-30 10:41] yxxhero commented on #203
@fbordallo please show  your command?

[2022-07-01 01:21] mumoshu commented on #192
@raxod502-plaid Thanks a lot for reporting! This has been fixed via #198

[2022-07-04 12:18] evgkrsk opened #207 "0.145.0 fails to update deps for plain-YAML releases"
### Operating system

MacOS 12.4

### Helmfile Version

v0.145.0

### Helm Version

version.BuildInfo{Version:"v3.9.0", GitCommit:"7ceeda6c585217a19a1131663d8cd1f7d641b2a7", GitTreeState:"clean", GoVersion:"go1.18.2"}

### Bug description

After upgrading helmfile 0.144 -> 0.145 (roboll->helmfile) it fails to run "deps" for plain-YAML releases (for chartify) . Rollback to 0.144 fixes problem.

###

[2022-07-04 15:36] Morriz opened #208 "needs should not alter regular install approach: one after the other"
### Operating system

Ubuntu 20.004

### Helmfile Version

0.145.0

### Helm Version

version.BuildInfo{Version:"v3.8.1", GitCommit:"5cb9af4b1b271d11d7a97a71df3ac337dd94ad37", GitTreeState:"clean", GoVersion:"go1.17.8"}

### Bug description

When providing `needs:` we see that releases don't get installed one after the other when using `apply`, but instead get errors about crds not being available

[2022-07-04 15:36] Morriz commented on #208
I have not tested `sync` which bypasses `diff`. Will try now

[2022-07-04 15:40] Morriz commented on #208
it works fine with diff, so my observation might be correct

[2022-07-05 00:11] yxxhero commented on #207
`plain yaml manifests` not helm chart? @evgkrsk

[2022-07-05 00:18] mumoshu commented on #208
@Morriz Hey!

`disableValidationInstall` has been implemented exactly for that.

FWIW, this is working as intended. Perhaps you remember helmfile has `--interactive` flag that instructs helmfile-apply to prompt for changes after showing diff but before sync? It enables a workflow very similar to that of `terraform apply` without `--auto-approve`. If it had to show diff before each node(a subset of

[2022-07-05 03:27] evgkrsk commented on #207
Yes, helmfile can wrap directory with k8s manifests in helm release (via "chartify": https://github.com/roboll/helmfile/pull/673)

[2022-07-05 03:28] evgkrsk commented on #207
And 0.144 works fine with such directories for years.

[2022-07-05 03:34] yxxhero commented on #207
@evgkrsk do you use helm-x replace helm?

[2022-07-05 03:36] evgkrsk commented on #207
No, helmfile does it under the hood all this years...

[2022-07-05 04:30] #156 closed

[2022-07-05 08:41] Morriz commented on #208
I get it now. That surely would be very handy indeed. Unfortunately we will still need `disableValidationInstall` even afterwards, as some charts create crds from template crds (as is the case with gatekeeper), which helm doesn't know about.
I will close this for now.

[2022-07-05 08:41] #208 closed

[2022-07-05 09:18] yxxhero commented on #207
@mumoshu

[2022-07-05 12:18] mumoshu commented on #207
Thanks for reporting! Umm interesting. Can this be caused by the same issue fixed via https://github.com/helmfile/helmfile/pull/209?

[2022-07-05 13:01] Morriz commented on #208
Sure. We are not the makers of Gatekeeper btw. But those CRDs are crafted by their solution on the fly from crd templates icw constraints. It takes a couple of seconds for each to become ready, so we added a post-install hook that waits for those to become ready so the last chart can actually create the final CRs.

[2022-07-05 13:40] yxxhero commented on #207
@evgkrsk I will check this.

[2022-07-06 00:09] mumoshu commented on #208
@Morriz Hey. I took a glance on how the gatekeeper works and unable to locate the dynamic CRD templates you mentioned. Instead, I found https://github.com/open-policy-agent/gatekeeper/blob/master/charts/gatekeeper/templates/upgrade-crds-hook.yaml. Is this what we are talking about?

If so, apparently, it's not dynamically generating CRDs. It looks like just a handy feature to upgrade CRDs via helm

[2022-07-06 00:54] #207 closed

[2022-07-06 01:00] mumoshu commented on #203
Thanks for reporting!

Helmfile usese `$kubecontext/$ns/$release_name` as the internal identifier of every node in the dependency graph build from `needs`. It will certainly break if you had a slash within the kubecontext name- Good catch.
I think the only way to fix this would be to change the separator between the internal id components to something that doesn't intersect with the characters all

[2022-07-06 01:20] yxxhero commented on #207
@evgkrsk new version released. Please enjoy it. Thanks very much. Thanks for your issue.

[2022-07-06 05:31] evgkrsk commented on #207
Thanks!

[2022-07-07 16:53] IkePCampbell commented on #193
Sadly glad we arent the only ones affected by this, any update?

[2022-07-07 19:20] philomory commented on #193
Still waiting on review for PR#201, once that's merged this should be addressed AFAIK.

[2022-07-09 15:59] Hamdiovish opened #221 "helm upgrade flag "--reuse-values" via ARGS has no effect"
### Operating system

Ubuntu 18.04 LTS

### Helmfile Version

0.145.2

### Helm Version

v3.9.0

### Bug description

Passing the helm upgrade flag "--reuse-values" via the "--args" option to "helmfile sync" and "helmfile apply" has no effect.

Example:
This is a simple helm chart containing one config-map with two values "first_name" and "last_name".
We want to update these values using helmfile

[2022-07-10 00:39] yxxhero commented on #221
@Hamdiovish Does this problem exist in version 0.144.0?

[2022-07-10 00:47] yxxhero commented on #221
@Hamdiovish I will  try to see this issue. Thanks very much.

[2022-07-10 01:15] yxxhero commented on #221
-args isn't a fully supported feature because we aren't sure which args should be passed to which helm command(s) helmfile is running.

[2022-07-10 01:34] Hamdiovish commented on #221
@yxxhero thank you for your prompt,
Actually yes, it’s happening for 0.144.x and 0.143.x too.

In this case of “-args” is not fully supported, how can we achieve the behavior of helm arg “—reuse-values” in helmfile context properly and in clean way?

I’m saying “properly and in clean way” because I found a workaround which is based on using “helm he values [release] > current_values.yaml” then pas

[2022-07-10 01:38] yxxhero commented on #221
https://github.com/helmfile/helmfile/blob/main/docs/proposals/towards-1.0.md
@Hamdiovish
We have plan to slove this issue. Thanks very much.

[2022-07-12 10:10] suleymah opened #222 "v0.145 not available on quay.io"
### Operating system

MacOS 12.4

### Helmfile Version

0.145

### Helm Version

any

### Bug description

v0.145 doesn't seem to be available on quay.io https://quay.io/repository/roboll/helmfile

and the repository https://quay.io/repository/helmfile/helmfile doesn't exist or is not public

### Example helmfile.yaml

n/a

### Error message you've seen (if any)

n/a

### Steps to reproduce

https

[2022-07-12 11:31] yxxhero commented on #222
https://github.com/helmfile/helmfile/pkgs/container/helmfile

[2022-07-12 20:54] suleymah commented on #222
Does this mean ghcr will be the definitive docker repository ? If yes the Readme should be updated to reflect this

[2022-07-12 23:13] yxxhero commented on #222
@suleymah Yes. I will update readme.md. Thanks very much.

[2022-07-12 23:38] yxxhero commented on #222
see: https://github.com/helmfile/helmfile/pull/224

[2022-07-13 09:22] itscaro opened #226 "Broken output in powershell / windows"
### Operating system

Windows

### Helmfile Version

0.145.2

### Helm Version

3.9.0

### Bug description

<img width="565" alt="image" src="https://user-images.githubusercontent.com/266018/178699246-554e76c2-f885-4e7a-95cf-38cf7366ca70.png">

### Example helmfile.yaml

no need

### Error message you've seen (if any)

no

### Steps to reproduce

no need

### Relevant discussion

_No response_

[2022-07-13 09:48] yxxhero commented on #226
@itscaro "\n" issue?

[2022-07-13 18:03] Weissger opened #229 "Local kubernetes manifest folder fails with cryptic error message when .yml extension is used instead of .yaml"
### Operating system

macOS 12.3.1

### Helmfile Version

0.145.2

### Helm Version

v3.9.0

### Bug description

File extension `.yml` is not supported for local manifests.

### Example helmfile.yaml

repositories:
  - name: jetstack
    url: https://charts.jetstack.io

releases:
  - name: cert-manager
    namespace: cert-manager
    chart: jetstack/cert-manager
    version: 1.8.1
  - name: clust

[2022-07-13 22:37] yxxhero commented on #229
@Weissger I will work on this.

[2022-07-14 01:02] mumoshu commented on #221
@Hamdiovish Hey! Just curious, but why do you need to use `--reuse-values`?

In your example, what's the rationale behind reintaing the old kvs in the configmap that are rendered by the previous state of `values.yaml`?

I think your helmfile.yaml and a set of values.yaml should contain the all the information required to rebuild your the whole set of helm releases in your cluster, hence it's more

[2022-07-14 21:23] Hamdiovish commented on #221
Hi @mumoshu,
In the context of automation and CICD in microservice world, every component contains its CI pipeline, its deployment and CD logic including its helm chart.

These type of helm release could be updated from different positions: CI, CD, centralized config server. Also its values can depends on multiple source.

So, if we’re updating the helm release from a CI pipeline, it is enough to

[2022-07-14 21:38] mumoshu commented on #221
@Hamdiovish Yeah, I do realize `--reuse-values` is useful when the whole helm values are present only on install and on upgrade you do have access to image tag only. But why is that with Helmfile? 🤔 I'm quite confused. Do you have a pair of helmfile.yaml, one for the first install and second for updates?? If so, why? If not, why do you need `reuse-vaues`?

[2022-07-15 04:32] Hamdiovish commented on #221
@mumoshu do you mean why not to just use “helm apply —reuse-value” in this situation instead of “helmfile”?

Actually yes, I’m using two helmfile files.
The 1st type of helmfile files is living in every microservice within the CICD section, in this helmfile, I’m using the secret feature combined with SOPS, the feature of using env variable, the multi environment feature etc. This helmfile is invok

[2022-07-15 06:06] mumoshu commented on #221
@Hamdiovish Hey! Thanks for clarifying. I think I'm almost close to understand your use-case.

You'd need `--reuse-values` also for this first helmfile? Otherwise, every CD update would result in erasing changes made by the 2nd helmfile.

[2022-07-15 07:58] Hamdiovish commented on #221
@mumoshu thank you for your prompt reply!
Yeah that’s exactly the case.
When I dry-run it, I found out that helmfile use **always** the default values with the provided values by the user, which I think it’s the real problem and may open the door for other incompatibility because it goes against Helm logic, since the default values in helm are located at the chart level and are rarely updated, so

[2022-07-15 08:09] mumoshu commented on #221
Thanks again for your confirmation!

Yep, helmfile enforces `--reset-values` (not `--reuse-values`) to make Helm more declaratively. Your use-case is very new to me!

[2022-07-15 08:12] mumoshu commented on #221
If you meant helmfile should quit adding `--reset-values`, that's a no-go for us unfortunately.. It will break almost everyone using Helmfile over Helm to manage helm releases declaratively.

But adding an option like `helmfile --reset-values` to loosen Helmfile's declarative-ness for your specific use-case doesn't sound too bad to me.

[2022-07-15 12:05] ljie-16 opened #232 "Need help with helm upgrade&kubectl apply"
### Operating system

ubuntu 20.02.4

### Helmfile Version

v3.3.4+5.el8

### Helm Version

v3.3.4+5.el8

### Bug description

The helm upgrade command i use: helm upgrade vdu "nodename/charts/podname/templates/values.yaml" --set xx.yyy=2
Error: Error: failed to download "nodename/charts/podname/templates/values.yaml" (hint: running `helm repo update` may help)

Another issue with kubectl apply -f

[2022-07-15 12:10] yxxhero commented on #232
@ljie-16 Please create issue in https://github.com/helm/helm

[2022-07-15 12:10] #232 closed

[2022-07-16 12:04] #193 closed

[2022-07-19 11:25] jgchristian opened #242 "Namespace override ignored when resolving temporary (including OCI fetched charts)"
### Operating system

MacOS

### Helmfile Version

v0.145.2

### Helm Version

v3.9.0

### Bug description

Steps to reproduce
---
- Define an OCI repository in your helmfile
- Define a release that includes a valid reference to an OCI managed chart; but do not specify a namespace in the release defintion
- Run `helmfile --namespace my-namespace sync` or `helmfile --namespace my-namespace template

[2022-07-19 11:48] yxxhero commented on #242
@jgchristian Thanks very much. I will check this.

[2022-07-19 11:50] yxxhero commented on #242
@xiaomudk do you have free time to see this issue? Thanks very much.

[2022-07-19 11:54] xiaomudk commented on #242
@yxxhero ok, let me follow up

[2022-07-19 12:06] yxxhero commented on #242
@jgchristian Thanks very much. Thanks for works for this issue.

[2022-07-19 14:19] itscaro commented on #226
@yxxhero I don't know, just updated to 0.145.2 and I saw this behavior.

[2022-07-19 18:45] xiaomudk commented on #242
@jgchristian This error doesn't look like a namespace issue.
Can you use `--debug` and let me see the output, for example:
[code]
find this one
[code]

[2022-07-20 02:26] xiaomudk commented on #242
It has something to do with helm oci, let me see it again

[2022-07-20 08:02] mumoshu commented on #221
@Hamdiovish Hey! Do you prefer to repurpose this issue for a feature request to add `--reset-values` to helmfile?

[2022-07-20 11:44] xiaomudk opened #244 "In OCI mode, when the url in repositories contains a semicolon, OCI Url and Version will parse error"
### Operating system

macOS 11.4

### Helmfile Version

v0.145.2

### Helm Version

v3.9.1

### Bug description

In OCI mode, when the url in repositories contains semicolon :, OCI Url and Version will parse error

### Example helmfile.yaml

[code]

### Error message you've seen (if any)

[code]

### Steps to reproduce

None

### Working Helmfile Version

None

### Relevant discussion

_No respons

[2022-07-20 11:47] xiaomudk commented on #242
@jgchristian  I use oci test and it can be used normally, but in oci mode, there may be problems with the parsing of helm url and version.  See here for details #244. If you don't have a similar problem, please use `--debug` to let me see the detailed execution process. Thanks!

[2022-07-21 10:10] Morriz opened #247 "lint: Error: flag provided but not defined: -include-needs"
### Operating system

Ubuntu:20.04

### Helmfile Version

0.145.0

### Helm Version

3.9.0

### Bug description

When providing selector that has `needs:` an error is thrown:
[code]

Is this not consistently added to all contexts that need it? `template`, `diff` and `apply` work ok with it.

### Example helmfile.yaml

releases:
  - name: gatekeeper-artifacts
    installed: true
    needs: [gatekee

[2022-07-21 16:01] jouve opened #249 "helmfile --environment cli arg regression"
### Operating system

os x

### Helmfile Version

canary

### Helm Version

n/a

### Bug description

before cobra migration:
   --environment value, -e value           specify the environment name. defaults to "default"

after cobra migration (#234):
  -e, --env string                      specify the environment name. defaults to "default"

the environment long option changed from --environment

[2022-07-21 17:03] jouve opened #251 "helmfile --help cli regression"
### Operating system

ubuntu

### Helmfile Version

canary

### Helm Version

n/a

### Bug description

helmfile --help produce a warning instead of the help:
[code]

it looks like the  issue decribed in https://github.com/kubernetes/minikube/pull/9614

### Example helmfile.yaml

n/a

### Error message you've seen (if any)

` WARNING: pflag: help requested`

### Steps to reproduce

` helmfile --he

[2022-07-21 23:03] yxxhero commented on #251
https://github.com/helmfile/helmfile/pull/252

[2022-07-21 23:03] #251 closed

[2022-07-21 23:03] yxxhero commented on #249
https://github.com/helmfile/helmfile/pull/250

[2022-07-21 23:03] #249 closed

[2022-07-23 13:14] #244 closed

[2022-07-24 11:39] Hamdiovish commented on #221
@mumoshu i think you mean to add "--reuse-values", since "--reset-values" is the current default behavior of Helmfile, isn't?
And yes of course, feel free to reformulate the issue for the suitable format.

[2022-07-24 22:36] mumoshu commented on #221
@Hamdiovish Yep, I meant `reuse-values`! Thanks for pointing it out.

Are you going to use `helmfile --reset-values` if it's added?

[2022-07-25 00:01] Hamdiovish commented on #221
As mentioned above, I’m pulling the current values using “helm get values” and storing it into a local file, then I append it to helmfile using “helmfile sync —values …” .
All of this could be avoided if “—reuse-values” would be available.
So yes, I would use “—reuse-values” if it will be added.

[2022-07-25 14:49] jgchristian commented on #242
Hi

I just spent a couple of hours trying to create a simple test harness with the latest versions of helm, helmfile and harbor... plus a much simpler `helmfile.yaml` and failed to reproduce the issue... so I'm wondering if there is an exotic issue triggered by our specific pipeline and production helmfile configuration.

I'll close this issue for now and monitor in our pipelines.

Thanks for taki

[2022-07-25 14:49] #242 closed

[2022-07-25 18:51] itscaro commented on #226
@yxxhero it's not helmfile but helm-secrets

[2022-07-25 18:51] #226 closed

[2022-07-27 14:17] giuscri opened #259 "Homebrew formula doesn't upgrades helm diff plugin"
### Operating system

macOS 12.4

### Helmfile Version

v0.145.2

### Helm Version

v3.9.2

### Bug description

helmfile now uses `helm diff --color` introduced in https://github.com/databus23/helm-diff/pull/343/files (helm diff v3.4.0). If one upgrades helmfile using Homebrew but doesn't manually upgrade the helm diff plugin helmfile will fail

[2022-08-01 08:59] jouve opened #265 "regression shorthand flag for `--selector` in apply command"
### Operating system

mac

### Helmfile Version

4e9b99d10e07c072287f108569c5d27f018b28e7 (master)

### Helm Version

n/&

### Bug description

[code]

### Example helmfile.yaml

---

### Error message you've seen (if any)

[code]

### Steps to reproduce

helmfile -l name=hazelcast apply

### Working Helmfile Version

v0.144

### Relevant discussion

_No response_

[2022-08-01 09:35] #265 closed

[2022-08-02 07:40] mugioka opened #267 "cannot execute binary file: Exec format error"
### Operating system

Linux

### Helmfile Version

none

### Helm Version

none

### Bug description

cannot install helmfile with correct arch.

### Example helmfile.yaml

none

### Error message you've seen (if any)

[code]

### Steps to reproduce

[code]

I am trying with HELMFILE_VERSION 0.145.0, but 0.145.* all don't seem to install the correct binaries.

### Working Helmfile Version

none

#

[2022-08-02 07:53] yxxhero commented on #267
@mugioka I can't reproduce your issue. Thanks very much.
 https://github.com/helmfile/helmfile/releases/download/v0.145.2/helmfile_0.145.2_linux_amd64.tar.gz

[2022-08-02 17:03] pathob commented on #267
@mugioka How about extracting the `.tar.gz`? ;-)

[2022-08-02 23:32] yxxhero commented on #267
yes. It should be uncompressed. @mugioka

[2022-08-02 23:33] #267 closed

[2022-08-03 00:26] mugioka commented on #267
Oh, sorry. I forget to uncompressed.
Thank you 🙏

[2022-08-03 01:52] mumoshu commented on #259
@giuscri Hey! Thanks for reporting. Unfortunately, we assume it's user's responsibility to match helm-diff version to what's expected by helmfile and needed by your use-case.
Shall we just note about that in the documentation, or do you have any other suggestion?

[2022-08-03 01:56] mumoshu commented on #247
Internally it's implemented and tested in the code added via https://github.com/helmfile/helmfile/pull/78, but apparently I didn't add the definitions for corresponding command-line flags in the same pull request.

@yxxhero Would you mind adding the flags to the corresponding pflags/cobra command? Thanks!

[2022-08-03 01:58] yxxhero commented on #247
@mumoshu yes. I will do this in this week.

[2022-08-04 06:01] dackroyd opened #271 "Releases being included without matching environment"
### Operating system

MacOS Monterey 12.3

### Helmfile Version

Helmfile version 0.0.0-dev, main branch @ 9af8f1286a7d3804fffe5ee0fbf5e661f23c3693

### Helm Version

version.BuildInfo{Version:"v3.9.2", GitCommit:"1addefbfe665c350f4daf868a9adc5600cc064fd", GitTreeState:"clean", GoVersion:"go1.18.4"}

### Bug description

With multiple helmfile specifying releases for different environments, all re

[2022-08-04 06:58] dackroyd commented on #271
As covered by https://github.com/dackroyd/helmfile-release-environment-bug/blob/main/README.md#root-cause this issue is in part a result of #234 - following that change, this issue is present regardless of whether helmfile state values are used. Prior to that change, it occurs when helmfile state values are supplied, but not otherwise

[2022-08-04 12:55] yxxhero commented on #271
@dackroyd Thanks very much. Welcome to create a PR for this issue.

[2022-08-04 23:14] #203 closed

[2022-08-05 01:53] dackroyd commented on #271
The behaviour without Helmfile state values set is relatively simple to address, so I'll tackle that on its own first.

The remainder of the work (i.e. when Helmfile state values _are_ set) will require more understanding of how things should work and what change needs to be made, so I'll see how I go with that one

[2022-08-05 06:15] yxxhero commented on #271
@dackroyd Thanks very much. assign to you.

[2022-08-06 06:05] yxxhero commented on #247
@mumoshu added. Thanks very much.

[2022-08-08 01:32] #247 closed

[2022-08-08 14:20] leotavares opened #277 "How can you inject arbitrary resources into a chart without forking it?"
### Operating system

Ubuntu 22.04 LTS

### Helmfile Version

0.145.2

### Helm Version

3.9.2

### Bug description

When trying to inject a resource into a release it simply ignores.
However, when I add the following to helmfile.yaml it creates the resource:

[code]

### Example helmfile.yaml
[code]

### Error message you've seen (if any)

None, it just doesn't create

### Steps to reproduce

hel

[2022-08-08 23:48] yxxhero commented on #277
@leotavares What do you mean? Thanks very much.

[2022-08-09 00:57] leotavares commented on #277
Hello @yxxhero !
In my original helmfile.yaml I'm trying to "inject" the Certificate with the gloo release (following [this page](https://github.com/roboll/helmfile/blob/master/docs/advanced-features.md#strategicmergepatches)). However it doesn't create anything.
When I add the "raw1" release with the same syntax (values -> resources) it successfully creates the resource.

It not only happens with

[2022-08-09 01:00] yxxhero commented on #277
@yxxhero please show your whole helmfile.yml. let me know more details. Thanks very much.

[2022-08-09 01:04] leotavares commented on #277
It's basically the one that I put in the first comment.
However, I've uploaded a zip with the helmfile that creates the wrong outcome (not creating the Certificate) and a helmfile that creates the correct outcome (but requires me to use the "raw" release)
[wrong_and_correct_outcomes.zip](https://github.com/helmfile/helmfile/files/9285904/wrong_and_correct_outcomes.zip)

Thanks!

[2022-08-09 02:53] yxxhero commented on #277
@leotavares Are you sure the `gloo/gloo` chart support `resources` config?

[2022-08-09 02:55] leotavares commented on #277
That's a great question, how could I look at that?
And if it doesn't support, what could I do to use the `resources` config?

[2022-08-09 03:26] yxxhero commented on #277
@leotavares you should read the docs of `gloo/gloo`

why not use incubator/raw?

[2022-08-09 03:34] yxxhero commented on #277
any other questions? If no. Please close the issue. @leotavares

[2022-08-09 16:09] jycamier opened #281 "OCI charts are pull 2 times"
### Operating system

macOs 12.5

### Helmfile Version

0.145.2

### Helm Version

v3.8.2

### Bug description

Some of the adaptations for OCI charts are dead and / or never used. Finally, the `helm pull` is executed 2 times for each OCI release and the first one is never used.

### Example helmfile.yaml

[code]

### Error message you've seen (if any)

[code]

### Steps to reproduce

https://gith

[2022-08-10 00:24] yxxhero commented on #281
@jycamier Thanks very much. We will see this issue.

[2022-08-10 11:46] jycamier commented on #281
I'll try to make the fix soon

[2022-08-10 12:00] yxxhero commented on #281
@jycamier Thanks very much.

[2022-08-14 01:47] #271 closed

[2022-08-15 07:27] peikk0 opened #289 "helmfile --version flag missing in the Docker image"
### Operating system

OSX 12.5

### Helmfile Version

v0.145.2

### Helm Version

v3.9.3

### Bug description

When using the Docker image `ghcr.io/helmfile/helmfile:v0.145.2` the flag `--version` doesn't exist and `helmfile version` doesn't return the version either:
[code]

[code]

Locally the same version works fine:
[code]

[code]

### Example helmfile.yaml

n/a

### Error message you've seen

[2022-08-16 01:41] #289 closed

[2022-08-16 01:42] yxxhero commented on #289
@peikk0 Thanks for your issue. fixed in https://github.com/helmfile/helmfile/pull/294

[2022-08-17 21:19] bderrly opened #299 "Passing `--args "--show-only path/to/template.yaml"` works but not `--args "-s path/to/template.yaml"`"
### Operating system

Ubuntu 20.04

### Helmfile Version

0.145.3

### Helm Version

3.8.1

### Bug description

I want to only render a single template file by using the `-s|--show-only` flag on `helm template`. I see that I can pass arbitrary flags to `helm template` by using `helmfile template --args`. However, running `helmfile template --args` and passing the `-s` flags does not work but the

[2022-08-18 06:49] mikelorant opened #302 "diff context value ignored"
### Operating system

macOS Monterey 12.4

### Helmfile Version

0.144.3

### Helm Version

3.9.0

### Bug description

When using `helmfile diff` with the `context` option, the full template is always displayed.

### Example helmfile.yaml

This applies to any Helmfile that will detect changes between the local state and the running state.

### Error message you've seen (if any)

No error messages

[2022-08-18 06:51] mikelorant commented on #302
Provided PR #301 with the fix.

[2022-08-18 07:08] mikelorant commented on #302
Found the diff `output` option in the same file that wasn't set correctly.

Create PR #303 with the fix.

[2022-08-18 07:09] #302 closed

[2022-08-20 03:42] seanorama opened #308 "helmfile `jsonPatches` does not work with packaged (e.g. tgz) charts"
### Operating system

MacOS Monterey 12.4

### Helmfile Version

v0.145.3

### Helm Version

v3.9.3

### Bug description

helmfile `jsonPatches` does not work with packaged (e.g. tgz) charts.

This failure occurs for local and remote charts, but the error returned is different (see below).

It does not fail if the chart is extracted to a directory or is in a helm repository.

The errors appear to

[2022-08-20 05:54] yxxhero commented on #308
@seanorama PR is welcome. Thanks very much.

[2022-08-22 12:46] tgaudillat02 opened #310 "Selector break repository/chart syntax with OCI"
### Operating system

Ubuntu 20.04

### Helmfile Version

0.145.3

### Helm Version

3.9.3

### Bug description

Sync, Diff, template fonction is break with OCI chart when using --selector.

Helm version : 3.8.0
Helmfile version : 0.144.0
Repository : Azure Container Registry

Here the templating without selector
[code]

Here the template with --selector (chart=cfg-shared-configs)

[code]

### Exa

[2022-08-22 18:38] gakesson opened #311 "Commands' -n option no longer recognized"
### Operating system

Ubuntu 20.04.4 LTS

### Helmfile Version

0.145.3

### Helm Version

3.9.0

### Bug description

If I using the associated helmfile.yaml run **helmfile --namespace hello-there list** it will as expected print:
[code]

However, if I only specify the shorthand option for namespace using **helmfile -n hello-there list** an error is raised:
`Error: unknown shorthand flag: 'n' in

[2022-08-22 22:27] yxxhero commented on #311
@gakesson fixed in https://github.com/helmfile/helmfile/pull/300/files

[2022-08-22 22:27] #311 closed

[2022-08-22 23:18] seanorama commented on #308
@yxxhero I' not even sure what the bug is. I'm assuming it's something in chartify.

[2022-08-23 12:30] skliarie opened #313 "helmfile not working with helm3 of microk8s"
### Operating system

Ubuntu 22.04 LTS

### Helmfile Version

0.145.3

### Helm Version

v3.8.0

### Bug description

Installed microk8s (as snap), enabled helm3.
When running helmfile, it can not find helm binary (in microk8s it is supposed to be run using "microk8s helm3").
If specifying binary explicitly, other error pops up:
[code]

### Example helmfile.yaml

repositories:
 - name: bitnami

[2022-08-23 12:31] yxxhero commented on #313
@skliarie please install helm-diif plugin. Thanks very much.

[2022-08-23 13:07] yxxhero commented on #313
@skliarie Please see https://github.com/databus23/helm-diff

[2022-08-23 13:23] skliarie commented on #313
Installed, now helmfile works, thank you very much!

[2022-08-23 13:23] #313 closed

[2022-08-24 01:13] seanorama commented on #308
@yxxhero Thanks for updating. This is a bug not an enhancement.

[2022-08-24 02:12] yxxhero commented on #308
@seanorama OK. PR is welcome.

[2022-08-24 22:12] mumoshu commented on #308
Thanks for reporting!
To be clear, Helmfile uses https://github.com/variantdev/chartify under the food for this feature, and perhaps I've never added proper support for patching the archived chart.
That said, although perhaps it's safe to say this is an enhancement rather than a bug, this should be prioritized higher than other feature requests as this is very annoying and can make `jsonPatches` t

[2022-08-25 01:41] evgkrsk opened #316 "Wrong git tag v0145.4 (without first dot)"
### Operating system

-

### Helmfile Version

-

### Helm Version

-

### Bug description

Release 0.145.4 artifacts have wrong names without first dot in version string: "helmfile_01454_checksums.txt" and so on.

Probably root cause is wrongly named git tag: v0145.4 (previous tag was v0.145.3).

### Example helmfile.yaml

-

### Error message you've seen (if any)

-

### Steps to reproduce

-

#

[2022-08-25 01:52] yxxhero commented on #316
@evgkrsk Thanks very much. @mumoshu ping

[2022-08-25 02:16] yxxhero commented on #316
done @mumoshu @evgkrsk Thanks very much.

[2022-08-25 14:16] yxxhero opened #318 "CI error in test/intergration/issue.2118.yaml"
### Operating system

all

### Helmfile Version

all

### Helm Version

all

### Bug description

PATH:
  /usr/local/bin/helm

ARGS:
  0: helm (4 bytes)
  1: template (8 bytes)
  2: argo-cd-crds (12 bytes)
  3: /home/runner/.cache/helmfile/argo-cd-crds/https_github_com_argoproj_argo-helm_git.ref=main/charts/argo-cd/crds (110 bytes)
  4: --namespace (11 bytes)
  5: helmfile-tests-20220825-113625 (3

[2022-08-25 14:51] evgkrsk commented on #316
Please rebuild binaries in homebrew tap:
[code]

[2022-08-25 14:51] evgkrsk commented on #316
@mumoshu @yxxhero

[2022-08-25 15:45] WoodyWoodsta opened #323 "`needs` fails if you specify a release which has not been parsed yet"
### Operating system

macOS 12.5.1

### Helmfile Version

v0145.4

### Helm Version

version.BuildInfo{Version:"v3.9.4", GitCommit:"dbc6d8e20fe1d58d50e6ed30f09a04a77e4c68db", GitTreeState:"clean", GoVersion:"go1.19"}

### Bug description

I have multiple helmfiles in my project. Some releases in those helmfiles "need" other releases. There is a singular helmfile at the root, which references helmf

[2022-08-25 16:15] WoodyWoodsta opened #324 "`helmfile sync --interactive` does not ask for confirmation before applying"
### Operating system

macOS 12.15.1

### Helmfile Version

v0145.4

### Helm Version

version.BuildInfo{Version:"v3.9.4", GitCommit:"dbc6d8e20fe1d58d50e6ed30f09a04a77e4c68db", GitTreeState:"clean", GoVersion:"go1.19"}

### Bug description

When I run `sync` with the `--interactive` flag, I do not get a confirmation before helmfile makes changes to my cluster.

### Example helmfile.yaml

N/A

### E

[2022-08-26 00:16] yxxhero commented on #316
https://github.com/helmfile/helmfile/releases/download/v0.145.4/helmfile_0.145.4_darwin_arm64.tar.gz is ok.

[2022-08-26 00:31] mumoshu commented on #316
@evgkrsk Thanks for the notice! Unforunately, we don't maintain the tap so.. maybe you need to contact the maintainer of it?

[2022-08-26 00:31] mumoshu commented on #316
@evgkrsk Also, I guess it might go through if you uninstalled and reinstalled the helmfile tap. Have you already tried that?

[2022-08-26 00:33] yxxhero commented on #316
@mumoshu @evgkrsk I will create a isssue in https://github.com/Homebrew/homebrew-core

[2022-08-26 00:55] yxxhero commented on #316
https://github.com/Homebrew/homebrew-core/pull/108948

[2022-08-26 01:59] #318 closed

[2022-08-26 02:48] yxxhero commented on #324
@WoodyWoodsta PR is welcome.

[2022-08-26 05:48] #316 closed

[2022-08-26 14:23] yxxhero commented on #324
@WoodyWoodsta From the code. In sync subcommand, no logic for interactive.

[2022-08-26 14:39] yxxhero commented on #324
@WoodyWoodsta I will try to add it in sync. wait my PR or your PR. haha

[2022-08-26 14:39] diversario opened #327 "Diff selector does not work on "installed: false" releases"
### Operating system

macOS 12.5.1, alpine 3.13

### Helmfile Version

0.145.4

### Helm Version

3.5.3

### Bug description

`--selector` option with `diff` command does not narrow the diff to the selected release when the release is set to not installed by `installed: false` key; this includes running with `--skip-needs=true  --include-needs=false` flags. Diff appears to run for all releases in

[2022-08-26 14:40] WoodyWoodsta commented on #324
Thanks @yxxhero - if I get some time I can have a quick look but I work full-time, so we'll see 😄

[2022-08-26 14:41] yxxhero commented on #324
@WoodyWoodsta OpenSource requires all of us.

[2022-08-27 06:57] mumoshu commented on #324
Hey! Thanks for reporting and investigating.
Probably this was an unintended regression introduced when we migrated our CLI framework from urfave/cli to cobra?
Just to be clear, the point of `--interactive` was to let Helmfile ask AFTER showing the diff and BEFORE actually applying the changes.
So, from the author's perspective, I can say it's working as intended.
Please use `helmfile apply` if yo

[2022-08-27 09:36] mumoshu commented on #324
And we might be adding support for `sync` and `delete` as well via #328

[2022-08-27 09:47] WoodyWoodsta commented on #324
@mumoshu Thanks - explained that way I now understand that `apply` is a "superset" command including `diff` and `sync`, and that `--interactive` is to ask for confirmation before those two steps. Coming from `kubectl apply` and `helm upgrade`, I assumed `sync` to be more of the latter (which does a diff internally).

[2022-08-27 13:02] junnplus commented on #323
I have the same confusion.

[2022-08-27 13:07] yxxhero commented on #229
does this commit https://github.com/variantdev/chartify/commit/acafe90d99962ac9e2464ffc88db2200129a9631 fix the issue? @mumoshu

[2022-08-27 14:12] junnplus commented on #323
It seems to be related to the current implementation, a helmfile is used as a unit to perform checks

[2022-08-27 23:31] yxxhero commented on #323
@junnplus PR is welcome. Thanks very much.

[2022-08-27 23:33] yxxhero commented on #259
@mumoshu I think we can add a subcommand to init and check plugins.

[2022-08-28 01:36] #324 closed

[2022-08-28 03:34] yxxhero commented on #299
@bderrly try to use `-s=templates/deployment.yaml`

[2022-08-30 00:40] philomory opened #334 "`--state-values-set` is always a string"
### Operating system

Windows 10

### Helmfile Version

0.145.4

### Helm Version

3.9.3

### Bug description

Given a `helmfile.yaml` containing the following snippet:
[code]
When executing the command e.g. `helmfile --state-values-set example=3`, instead of evaluating the contents of the conditional block, you will get the error, `executing stringTemplate at <lt .Values.example 2>: error calling

[2022-08-30 03:58] yxxhero commented on #334
http://masterminds.github.io/sprig/conversion.html  I thinks this can help you.

[2022-08-31 07:52] strainovic opened #339 "Introduction of --skip-needs results in breaking change"
### Operating system

Windows x64

### Helmfile Version

0.143.0-0.145.3

### Helm Version

3.9.0

### Bug description

We use a selector(s) to match and template/sync only a single or subset of services. Everything worked fine until we updated the helmfile version.

`helmfile version v0.142.0` works fine with `--selector/-l` and `template` command

`helmfile version v0.143.0` with the same comman

[2022-08-31 09:06] fraanek opened #340 "`--wait` not working"
### Operating system

Ubuntu 22.04

### Helmfile Version

### Helm Version

3.9.4

### Bug description

In versions >= 0.145.3 flag `--wait` not working.
For version 0.145.2 which is working, in debug mode we have:

[code]

For versions >= 0.145.3 we have:
[code]

There is no corresponding flag `--wait` for helm command.

### Example helmfile.yaml

-

### Error message you've seen (if any)

-

###

[2022-08-31 11:55] yxxhero commented on #339
@strainovic I will work on this. Thanks for your issue.

[2022-09-01 00:53] philomory commented on #334
Template function such as `atoi` provide a passable workaround, but they shouldn't be considered an actual _solution_ to this problem. In the old repository there was [an issue for this as well](https://github.com/roboll/helmfile/issues/1347), in the context of booleans - and for booleans the situation is even worse, since there does not exist any sprig function to turn `"true"` and `"false"` into

[2022-09-01 01:00] yxxhero commented on #334
@philomory PR is welcome. Thanks very much.

[2022-09-01 08:34] ievgenii-shepeliuk commented on #281
stale go away

[2022-09-02 01:44] yxxhero commented on #340
@fraanek fixed in https://github.com/helmfile/helmfile/pull/328. Thanks very much.

[2022-09-06 12:45] tgaudillat02 commented on #310
Find a way out by forcing the namespace but still a bug.

[2022-09-06 12:46] yxxhero commented on #310
@tgaudillat02 Sorry. I will try to fix this. Or do you have free to create a PR for this?

[2022-09-08 21:16] seanorama commented on #308
Bumping for activity. This is a bug. not an enhancement, unless the `jsonPatches` functionality is not officially a released feature. If it doesn't work with the large majority of packages, then it's a bug.

[2022-09-08 23:24] mumoshu commented on #308
It does work with non tgz charts, like your local that backed by a local directory or a remote chart stored in any remote chart repository. It's a bug. But it isn't true at all that it doesn't work with the large majority of packages.

[2022-09-09 02:36] yxxhero commented on #281
@jycamier ping

[2022-09-09 15:10] Nick-Triller commented on #327
The issue is still relevant.

[2022-09-11 02:05] mumoshu commented on #259
@yxxhero Sounds like a good idea 👍

[2022-09-11 02:08] mumoshu commented on #229
@yxxhero That commit does fix the cryptic error message, but not the underlying issue that it can't process `.yml` files. I don't think `.yml` files are well supported on k8s-related toolings like helm or kubectl and perhaps it worth being supported in chartify? 🤔

[2022-09-11 02:42] yxxhero commented on #229
@mumoshu  yes. I think so. I think it should add in chartify.

[2022-09-12 09:28] mumoshu commented on #339
We added this to fix the bug that `-l foo=bar` resulted in unfilled need to be silently ignored. https://github.com/roboll/helmfile/pull/1772
Other folks complained so I changed it to use `--skip-needs` by default in https://github.com/roboll/helmfile/releases/tag/v0.139.2.
Now, I don't understand why it's still happening!

@yxxhero How are you going to "fix" it? Did we unintentionally introduced

[2022-09-12 09:42] mumoshu commented on #339
@yxxhero Which commit/pull request broke it then...? The only relevant commit in v0.143.0 would be https://github.com/roboll/helmfile/pull/2026 and it has been added for a good reason.
@strainovic Hey! Are you sure you don't actually have any typo in your helmfile's `needs` entries? Could you share your helmfile.yaml?

[2022-09-12 09:45] mumoshu commented on #339
@yxxhero I reviewed #342 but I'm still unsure what it's supposed to do. Are you going to make `--skip-needs` the default? But I thought we already made it so in https://github.com/roboll/helmfile/releases/tag/v0.139.2

[2022-09-12 09:48] yxxhero commented on #339
https://github.com/roboll/helmfile/pull/1835
I see this PR.
I don't understand why --skip-needs is default true?

from the code. it will return false when --skip-needs not provided.

[2022-09-12 09:48] mumoshu commented on #339
@yxxhero I think the key difference is the use of `BoolTFlag` vs `BoolFlag`.

[2022-09-12 09:50] yxxhero commented on #339
@mumoshu oh. I konw. I will check the code again.

[2022-09-12 10:07] yxxhero commented on #339
@mumoshu done. sorry for this issue.

[2022-09-12 10:55] retraut commented on #310
Have the same issue
Helmfile Version
`0.145.4`
Helm Version
`3.8.2`

[2022-09-12 12:45] retraut commented on #310
It will be cool if you can create PR for this issue @yxxhero

[2022-09-12 12:51] yxxhero commented on #310
@retraut @tgaudillat02    ok. I will do it. Thanks very much.

[2022-09-12 18:11] flowinh2o opened #358 "incorrect exit code"
### Operating system

darwin_arm64

### Helmfile Version

0.145.4

### Helm Version

3.9.4

### Bug description

When using an incorrect switch on the latest version it is no longer returning an exit code 3.

Helmfile version 0.145.4

Error: unknown shorthand flag: 'z' in -z

0

helmfile version 0.145.1

flag provided but not defined: -z

3

### Example helmfile.yaml

NA

### Error message you've

[2022-09-13 00:30] mumoshu commented on #339
@yxxhero Thanks! To be extra clear, your fix addresses the regression introduced in 0.145.0, right?

[2022-09-13 01:22] yxxhero commented on #339
@mumoshu yes.

[2022-09-14 00:50] #339 closed

[2022-09-14 00:51] #358 closed

[2022-09-14 02:55] xiaomudk commented on #259
Please let me track this issue

[2022-09-14 13:07] diegodambra opened #365 "Secrets fails to decrypt"
### Operating system

Ubuntu 20.04.4 LTS

### Helmfile Version

0.145.5

### Helm Version

3.9.4

### Bug description

helmfile fails to decrypt secrets, with plugin version 4.x, `helm secrets` no longer support `view` as argument. Argument `decrypt` is provided as replacement, see [changelog](https://github.com/jkroepke/helm-secrets/blob/main/CHANGELOG.md).

[code]

### Example helmfile.yaml

...

[2022-09-14 13:09] yxxhero commented on #365
@diegodambra maybe https://github.com/helmfile/helmfile/pull/360

[2022-09-15 13:42] nervo opened #366 "Unable to alias "--interactive" flag anymore"
### Operating system

Irrelevant

### Helmfile Version

0.145.5

### Helm Version

Irrelevant

### Bug description

Now that "interactive" flag has been removed from global options (https://github.com/helmfile/helmfile/pull/328) we could no longer use it in a shell alias, like described here https://github.com/helmfile/helmfile/blob/main/docs/index.md#running-helmfile-interactively

Indeed, the in

[2022-09-15 13:47] yxxhero commented on #366
@nervo good catch. @mumoshu WDYT? if need make the --interactive global again, I will do. Or, perhaps introduce the usage of a dedicated environment variable.

[2022-09-16 00:00] yxxhero commented on #366
`--interactive` only takes effect in a subset of subcommands.

[2022-09-16 05:06] nervo commented on #366
@yxxhero yes, but we have always consider it as a "switch" to let the entire application work in interactive mode in critical situations :)
I know cobra (https://github.com/spf13/cobra) could be associated with viper (https://github.com/spf13/viper) to handle options as config files or environment variables, maybe that could be a solution :)

[2022-09-16 05:22] yxxhero commented on #366
@nervo PR is welcome. Thanks very much.

[2022-09-16 05:53] nervo commented on #366
@yxxhero  it would be a pleasure, but i have to know where to going to :) Rollback to global ? environment variable ? viper ? something else ?

[2022-09-16 05:54] yxxhero commented on #366
@mumoshu WDYT? thanks very much.

[2022-09-16 16:47] diegodambra commented on #365
Yes, absolutely same issue, thanks!

[2022-09-16 16:47] #365 closed

[2022-09-17 10:49] mumoshu commented on #366
@nervo @yxxhero Hey! Thanks a lot for raising this. I believe we should roll it back to a global flag, as we intentionally made it so 4 years ago and the rationale behind the decision still stands today https://github.com/roboll/helmfile/issues/354#issuecomment-424028564

[2022-09-17 11:24] mumoshu commented on #327
@Nick-Triller Thanks a lot for reporting! This does sound like a bug. We should indeed be able to use helmfile-diff to review deletions and later run helmfile-destroy with a selector to delete the releases one-by-one. Apparently, it's impossible according to what you observed and reported here.

[2022-09-17 11:29] mumoshu commented on #299
`--args` turned out to be a fundamentally bad idea and you should use it only as a last resort and you can't still expect it to work as you might have expected... We don't know how to correctly and automatically map which `args` are passed to which helm sub-command(s) being involved in a single helmfile execution.

[2022-09-17 11:30] mumoshu commented on #299
But hey, shouldn't we just implement `-s|--show-only` for helmfile-template? It should be usable only with `-l
 --selector` though.

[2022-09-17 11:33] mumoshu commented on #277
I believe you can't expect a random chart that isn't `raw/incubator` to be able to add arbitrary resources via helm values. Also, you can't use helmfile's strategicMergePatches to inject resources- as it's based on the corresponding feature implmented in kustomize and kustomize "patches" can't be used to add resources, as far as I know.

[2022-09-17 13:28] yxxhero commented on #366
@nervo ok. So do you have free to do this? Thanks very much.

[2022-09-18 05:40] #299 closed

[2022-09-18 07:34] #281 closed

[2022-09-18 09:47] #366 closed

[2022-09-18 09:59] mumoshu commented on #308
This is where chartify composes the kustomization.yaml path: https://github.com/variantdev/chartify/blob/acafe90d99962ac9e2464ffc88db2200129a9631/patch.go#L156

So the issue would be coming from a potential bug where the `tempDir` variable is messed with when you specified a tgz path as the chart. I'm still unsure which line of code is causing that though.

[2022-09-18 10:58] mumoshu commented on #308
https://github.com/variantdev/chartify/pull/38 seems to fix the issue at least when tested directly with chartify.

[2022-09-18 11:04] yxxhero commented on #308
does https://github.com/variantdev/chartify  will move to helmfile org? @mumoshu

[2022-09-18 11:11] mumoshu commented on #229
https://github.com/variantdev/chartify/pull/39 seems to work by adding the ability to detect the directory as a k8s manifests even when the files contained in the directory were not .yaml files but .yml files.

[2022-09-18 11:20] mumoshu commented on #323
@WoodyWoodsta I hear you, but it's working as intended as of today! Sub-helmfiles (helmfiles field) predates our DAG support (the needs field) and they are two completely different features.

What you can do instead in the meantime would be to hack the root helmfile.yaml with functions that "includes" arbitrary files as helmfile.yaml snippets, like `readFile` and `tpl`, so that all the releases de

[2022-09-18 11:46] mumoshu commented on #327
Well, I've tested the case with helmfile 0.145.4, 0.145.5, and the edge and it all worked as I have expected. I'm now unsure what the "problem" you're seeing exactly.

Let's say I have this:

[code]

If you've already installed the `mysql` release and then updated helmfile.yaml to have `installed: false`, running `helmfile -l name=mysql diff  --skip-needs` does show the release as "to be deleted".

[2022-09-18 12:52] diversario commented on #327
So, I'm not saying that diff does not work. It works. I do see the release as being uninstalled, basically everything is as you would expect, _except_ that the diff runs for _all_ releases in the helmfile in which the affected release is located. So the selector does not quite work.
We have our releases split over several helmfiles, so in this case I see diffs being calculated for all releases in

[2022-09-19 03:37] mumoshu commented on #327
Thanks a lot for your claritication! I was able to reproduce it.

So I have:

[code]

`helmfile -l name=a diff --skip-needs` and `helmfile -l name=a diff` shows diff only for `b` even though I've specified `-l name=a`. This isn't expected.

When I omitted `installed: false`:

[code]

`helmfile -l name=a diff --skip-needs` and `helmfile -l name=a diff` shows diff only for `a` as I've specified `-l

[2022-09-19 04:33] mumoshu commented on #327
#374 fixed it for me!

[2022-09-19 04:54] mumoshu commented on #310
@yxxhero Did you already figure out how we can fix this?

It should export the OCI chart into a temporary directory like `/tmp/helmfile636816509/cfg-shared-configs/cfg-shared-configs/1.0.0/cfg-shared-configs` shown in the first example. It isn't referring to the exported dir in the second example. It might have something to do with the issue, but I'm still unsure what kind of bug can cause that...

[2022-09-19 05:01] yxxhero commented on #310
@mumoshu I haven't started yet.

[2022-09-19 05:04] nervo commented on #366
Wooo @yxxhero you're too fast for me :)

[2022-09-19 05:52] #327 closed

[2022-09-19 06:18] mumoshu commented on #308
@yxxhero Assuming helmfile is the only and biggest library user, I'm willing to do so! Would you be willing to maintain it with me once moved?

[2022-09-19 06:26] yxxhero commented on #308
@mumoshu sure.

[2022-09-19 06:28] mumoshu commented on #308
Thanks! I'll write up an issue to announce the potential move in the chartify repo.

BTW, https://github.com/variantdev/chartify/releases/tag/v0.11.0 includes the fix for this issue.

[2022-09-19 06:28] mumoshu commented on #229
https://github.com/variantdev/chartify/releases/tag/v0.11.0 includes the fix for this issue.

[2022-09-19 06:29] ievgenii-shepeliuk commented on #281
Hello
Is a new release planned soon ? including this fix.

[2022-09-19 06:31] yxxhero commented on #281
@jycamier yes.

[2022-09-19 06:32] yxxhero commented on #308
@mumoshu just do it. Thanks very much.

[2022-09-19 07:25] #229 closed

[2022-09-19 07:25] #308 closed

[2022-09-19 07:45] WoodyWoodsta commented on #323
But a part of the same tool - the expectation is that features of the same tool work together.

Will have a read through the thread and comment if I think I can add anything.

[2022-09-19 10:22] mumoshu commented on #323
Yeah, I hear you! I'm just saying that it isn't trivial to design or implement.

Currently, each helmfile has its own scope and building a DAG across all the involved (sub-)helmfiles doesn't make sense from the author's perspective. So-

Although I totally understand your sentiment, this won't be implemented within or on top of any of our current `releases`, `helmfiles` or `bases`. I believe we ne

[2022-09-21 07:55] xiaomudk commented on #259
@yxxhero @mumoshu The following is my idea, can you help to review it?

Execute `helmfile init`:
1. Check whether helm is installed, if not, let the user choose whether to install it, run `curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash` to install.
2. Check the helm version, if the version is low, let the user choose whether to upgrade
3. Check the helm plugin (hel

[2022-09-21 08:06] yxxhero commented on #259
I think the initial idea is good. It has improved the user experience. Let's have a look at it together. @mumoshu @xiaomudk

[2022-09-21 08:10] mumoshu commented on #259
@xiaomudk Thanks for the proposal!
Actually, Helmfile has been putting its best effort to provide Windows support and the fact that Helmfile doesn't rely on external commands other than kustomize, helm, and helm plugins are effects of that.
That said, it would be great if we could implement `helmfile init` without making it dependent on `curl` and `bash`. We might be able to use Go's standard HTTP

[2022-09-21 08:28] xiaomudk commented on #259
@mumoshu
I'm not worried about the file download, I'm more worried about the installation process under Windows, such as the installation path, the addition of environment variables, and so on.
My opinion is that the windows platform is detected, the download address of helm is displayed, and the user can install it by himself.
what about your suggestion?

[2022-09-21 10:39] yxxhero commented on #259
@xiaomudk just do it.

[2022-09-21 18:52] BurtonCameron opened #382 "Invalid path to Chart when running "helmfile apply""
### Operating system

Windows 11

### Helmfile Version

Helmfile version 0.146.0

### Helm Version

version.BuildInfo{Version:"v3.9.0", GitCommit:"7ceeda6c585217a19a1131663d8cd1f7d641b2a7", GitTreeState:"clean", GoVersion:"go1.17.5"}

### Bug description

Getting a ".\\" prepended to chart path when attempting to helmfile apply.

[code]

### Example helmfile.yaml

repositories:
  - name: charts

[2022-09-21 23:44] yxxhero commented on #382
@BurtonCameron Working Helmfile Version?

[2022-09-22 04:03] #334 closed

[2022-09-22 04:29] yxxhero commented on #382
@BurtonCameron add --debug

[2022-09-22 12:00] yxxhero commented on #382
@BurtonCameron Can't reproduce on linux.

[2022-09-22 12:42] yxxhero commented on #310
@retraut @tgaudillat02 who can show a whole example? So I can reproduce this issue. Thanks very much.

[2022-09-22 13:51] BurtonCameron commented on #382
Never had it work, this is a first attempt at using Helmfile

[code]

[2022-09-22 14:37] yxxhero commented on #382
@BurtonCameron I will fix this.

[2022-09-23 01:20] yxxhero commented on #382
@BurtonCameron I create PR for this. Can you help me build and test this issue.

[2022-09-23 09:22] yxxhero commented on #382
@BurtonCameron looking forward your feedback.

[2022-09-23 14:16] BurtonCameron commented on #382
It appears we are exactly opposite timezones

Your branch works for me. Thank you for the help

[2022-09-24 07:34] yxxhero commented on #382
@BurtonCameron ok. you are welcome.

[2022-09-26 12:23] rishm069 opened #392 "missingFileHandler: Warn is ignored when ref is incorrect"
### Operating system

ghcr.io/helmfile/helmfile:v0.145.2

### Helmfile Version

0.145.2

### Helm Version

3.9.0

### Bug description

When `missingFileHandler` option is set to `Warn` in the environments file as follows:
[code]
and in `values` section there is a remote git-value that points to non-existing ref:
e.g. `develop` doesn't exist
[code]
The error is thrown instead of a warning and `helm

[2022-09-26 12:30] yxxhero commented on #392
@rishm069 if 0.146.0 fix this issue. Please close this issue.

[2022-09-26 13:57] Vetal-ca opened #393 "Helmfile + git-helm, path mismatch"
### Operating system

Containerized environment, ubuntu:20.04

### Helmfile Version

0.146.0

### Helm Version

v3.10.0

### Bug description

git-helm plugin, causing a path mismatch:

- helmfile.yaml
[code]

`helmfile apply` show difference to apply while failing in the very end:

[code]

`/tmp/helm-git.mDulxt/` does not exist. While repo file is fetched to `/home/vetal/.cache/helm/repository/vau

[2022-09-27 01:05] yxxhero commented on #393
@Vetal-ca Thanks for your issue. I will work on this.

[2022-09-27 14:53] kaktus42 opened #394 "allow key overrides"
### Operating system

MacOS Montery 12.5.1

### Helmfile Version

helmfile version v0.145.2

### Helm Version

version.BuildInfo{Version:"v3.9.3", GitCommit:"414ff28d4029ae8c8b05d62aa06c7fe3dee2bc58", GitTreeState:"clean", GoVersion:"go1.19"}

### Bug description

See: https://github.com/roboll/helmfile/issues/657

This fails with "already set in map"

### Example helmfile.yaml

[code]

### Error

[2022-09-27 23:59] yxxhero commented on #394
fix: https://github.com/helmfile/helmfile/pull/396

[2022-09-28 14:50] violaodorata opened #397 "helmfile gets stuck during repo adding step if chart has dependensies"
### Operating system

 MacOS 12.6

### Helmfile Version

v0.146.0

### Helm Version

version.BuildInfo{Version:"v3.10.0", GitCommit:"ce66412a723e4d89555dc67217607c6579ffcb21", GitTreeState:"clean", GoVersion:"go1.19.1"}

### Bug description

`helmfile apply` command gets stuck during the repo adding step when we have dependencies block in a chart.

### Steps to reproduce

We have two types of Git

[2022-09-29 04:09] yxxhero commented on #393
@Vetal-ca keyword: --verify
if you use helm upgrade with --verify, it will failed too.

[2022-09-29 04:10] yxxhero commented on #393
[code]

[2022-09-29 04:11] yxxhero commented on #393
[code]

[2022-09-29 04:17] #393 closed

[2022-09-29 04:25] yxxhero commented on #397
@violaodorata please show an example. So I can reproduce this issue.

[2022-09-29 06:46] rishm069 commented on #392
@yxxhero thank you for the suggestion! that didn't work tho - the issue persists but with different error now:
[code]

[2022-09-29 07:02] yxxhero commented on #392
pathspec 'develop' did not match any file(s) known to git

[2022-09-29 08:05] rishm069 commented on #392
@yxxhero that is the point: ref doesn't exist and missingFileHandler is set to Warn but throws error instead. I'd expect that this (missing ref) should result in `skipping missing environment values file matching` warning, not error and fail of apply command.

[2022-09-29 11:01] yxxhero commented on #392
@rishm069 ok. I known. I will check this.

[2022-09-29 11:02] yxxhero commented on #392
@rishm069 Please add --debug. and show the output.

[2022-09-29 11:58] yxxhero commented on #393
@Vetal-ca if you have any other issue. Please create a new issue.

[2022-09-29 17:58] violaodorata commented on #397
Updated `Steps to reproduce` block

[2022-09-29 19:25] gakesson opened #399 "preapply hook behavior"
### Operating system

Ubuntu 20.04.4 LTS

### Helmfile Version

0.146.0

### Helm Version

v3.9.0

### Bug description

Greetings folks,

I picked up the new helmfile version to start to use the preapply hook, but I'm a little bit puzzled by its behavior.
From what I think we agreed upon in the PR is that preapply will be invoked for every release even if sync is not invoked (=even when no change)

[2022-09-30 00:53] yxxhero commented on #392
@rishm069 from the code. This is expected behavior. I mark it as an enhancement.

[2022-09-30 01:57] yxxhero commented on #399
@mumosh @Sajfer

[2022-09-30 06:01] rishm069 commented on #392
@yxxhero ok, thank you! I'll work on PR then

[2022-09-30 06:03] yxxhero commented on #392
@rishm069 oh. Thanks very much. looking for your PR.

[2022-09-30 22:32] #382 closed

[2022-10-02 03:52] kevin1sMe opened #404 "Error: unknown command "view" for "helm" when using helm-secrets"
### Operating system

Ubuntu 20.04.4 LTS

### Helmfile Version

Helmfile version 0.145.5

### Helm Version

version.BuildInfo{Version:"v3.9.2", GitCommit:"1addefbfe665c350f4daf868a9adc5600cc064fd", GitTreeState:"clean", GoVersion:"go1.17.12"}

### Bug description

When I using helm-secrets, do something like:
[code]

I think this error cause  because of [helm-secrets](https://github.com/jkroepke/h

[2022-10-02 03:55] yxxhero commented on #404
@kevin1sMe Please use 0.146.0. It supports helm-secret v4.x

[2022-10-02 03:57] yxxhero commented on #404
@kevin1sMe If v0.146.0 solve your issue. Please close this issue. Thanks very much.

[2022-10-02 04:01] yxxhero commented on #404
if your company uses helmfile. Can you create a PR for https://helmfile.readthedocs.io/en/latest/users/. Thanks very much.

[2022-10-02 20:50] Sajfer commented on #399
That does indeed sound like a bug.

[2022-10-03 02:54] kevin1sMe commented on #404
Thanks， solved。

[2022-10-03 02:54] #404 closed

[2022-10-03 04:41] mugioka opened #405 "helmfile deps cannot create a lock file for an OCI repo"
### Operating system

darwin21.0

### Helmfile Version

0.146.0

### Helm Version

3.9.2

### Bug description

Related Issue: https://github.com/roboll/helmfile/issues/2076

helmfile deps cannot create a lock file for an OCI repo.

### Example helmfile.yaml

[code]

### Error message you've seen (if any)

[code]

### Steps to reproduce

none

### Working Helmfile Version

none

### Relevant discus

[2022-10-03 05:09] yxxhero commented on #394
@kaktus42 done in https://github.com/helmfile/helmfile/pull/396. wait for review.

[2022-10-03 05:19] yxxhero commented on #405
@mugioka what's your command?

[2022-10-03 05:19] mugioka commented on #405
@yxxhero
`helmfile deps`

[2022-10-03 05:22] yxxhero commented on #405
@mugioka can helm deps work fine?

[2022-10-03 05:25] mugioka commented on #405
@yxxhero
no, `helm deps` is unknown command.
[code]

Are you talking about `helm dependency update`?

[2022-10-03 05:27] yxxhero commented on #405
@mugioka oh. sorry. it is `helm dependency update`

[2022-10-03 05:31] mugioka commented on #405
@yxxhero
how to execute `helm dependency update`?
i understand is that `helm dependency update` is update `requirements.lock`.
but my chart(charts/test) does not have any dependencies.

[2022-10-03 05:32] yxxhero commented on #405
I will work on this.

[2022-10-04 15:38] corinz opened #409 "Write-values and output file templating error"
### Operating system

MacOS 12.5

### Helmfile Version

v0.146.0

### Helm Version

version.BuildInfo{Version:"v3.10.0", GitCommit:"ce66412a723e4d89555dc67217607c6579ffcb21", GitTreeState:"clean", GoVersion:"go1.19.1"}

### Bug description

Attempting to execute
[code]
and getting an error
[code]
the same error in helmfile v0.145.4 was
[code]

### Example helmfile.yaml
[code]
### Error message you

[2022-10-04 15:47] corinz commented on #409
@yxxhero The debug output includes secrets and I can't paste here but the line I showed above is expanded on:
[code]
Seems like it doesn't like the {{ .Environment.Name }} templated variable. It works fine without it, or in the default mode using the .State variables.

[2022-10-05 02:12] #394 closed

[2022-10-05 14:13] yxxhero commented on #409
@corinz `write-values --output-file-template releases/helm-{{ .Environment.Name }}.yaml`

should be `write-values --output-file-template "releases/helm-{{ .Environment.Name }}.yaml"`

it has space.

[2022-10-06 19:59] steved opened #416 "Helmfile does not handle termination signals when Helm is still running"
### Operating system

MacOS 12

### Helmfile Version

0.146.0

### Helm Version

3.10.0

### Bug description

When running Helm releases with `wait: true`, if an interrupt or term signal is sent to Helmfile while it's installing will not result in Helm being stopped.

### Example helmfile.yaml

Any release with `wait: true`, e.g:
[code]

### Error message you've seen (if any)

No error message

##

[2022-10-07 01:56] #409 closed

[2022-10-07 09:08] yxxhero commented on #416
@steved fix. Please test use `416-helmfile-does-not-handle-termination-signals-when-helm-is-still-running` branch.

[2022-10-07 12:13] yxxhero commented on #399
@Sajfer Do you have free time on this issue? Thanks very much.

[2022-10-07 19:49] steved commented on #416
Hi, thanks for the quick response! That works in the sense that Helmfile will now wait for the underlying Helm commands to complete. Ideally, I think it could pass the signal to Helm as well (since as of https://github.com/helm/helm/pull/9180 it seems to handle it pretty well).

[2022-10-07 23:36] yxxhero commented on #416
@steved yes. it can pass the signal to helm defaultly.

[2022-10-08 05:27] #221 closed

[2022-10-09 01:13] #405 closed

[2022-10-09 08:51] #416 closed

[2022-10-09 14:02] dm3ch commented on #416
Is there any estimates when the would be a release with thus fix?

[2022-10-09 14:04] yxxhero commented on #416
@dm3ch 0.147.1, coming soon.

[2022-10-10 07:19] mumoshu commented on #399
@gakesson Good catch! It turned out I did it wrong. There seem like a few things to be fixed.

First, we'd need to fix the documentation at https://github.com/helmfile/helmfile/blame/main/docs/index.md#L1210-L1213. `presync` hooks are not called on no diff when you run `helmfile apply`, although those are called for all the releases when you run `helmfile sync`. On the other hand, `preapply` shoul

[2022-10-10 10:06] pathob opened #425 "Various issues with Docker release 0.147.0 and `helmfile version`"
### Operating system

Docker

### Helmfile Version

0.147.0

### Helm Version

3.9.0

### Bug description

The latest Docker release for 0.147.0 (re-)introduces some issues.

First of all, the version (and the build date) is not defined anymore:

[code]

Additionally, when used in our CI, the command ends with the following error:

[code]

A fix would be much appreciated.

Thanks, Patrick

### Exa

[2022-10-10 10:20] yxxhero commented on #425
@pathob What can I do for you? Please show yours expect.

[2022-10-10 10:24] pathob commented on #425
Thanks for the hint. Besides that:

Version should show the correct version number as already written above :)

[2022-10-10 11:04] mumoshu commented on #425
@pathob Hey! Thanks for reporting. We're going to fix the version number embedding thing in #427.
In addition, I'm also concerned about the `certificate signed by unknown authority` error you saw. Perhaps it's related to some missing CA certs in your image? Just to be clear, which docker image variant are you using, ubutun, debian, or alpine-based one?

[2022-10-10 11:18] pathob commented on #425
@mumoshu Same error in all images. Might be related to the fact that I try to run it in a regulated environment, most likely no internet access to github.com

[2022-10-10 11:23] mumoshu commented on #425
@pathob Thanks. That might be the cause as I couldn't reproduce it with any of the available 0.147.0 images.
You still need to set `HELMFILE_UPGRADE_NOTICE_DISABLED` to a non-empty value even if we merged #427.
Can you deal with it? We haven't really designed the image to be used as-is within a regulated environment so in that sense I can say it isn't a breaking change.
But I do want to hear your

[2022-10-10 11:43] pathob commented on #425
`HELMFILE_UPGRADE_NOTICE_DISABLED` solves the issue for me.

It's okay if the image is not perfectly designed for regulated environment, I just hope that helmfile in general is and stays like that :)

[2022-10-10 12:03] #277 closed

[2022-10-10 12:03] #323 closed

[2022-10-10 12:09] pathob opened #429 "vals dependency not thread-safe?"
### Operating system

Docker (Ubuntu)

### Helmfile Version

0.147.0

### Helm Version

3.9.0

### Bug description

One of my most recent helmfile executions ended in the following error / stacktrace.

As I'm not sure whether the issue is related directory to vals or how it is used in helmfile, I'll post it here...

[code]

### Example helmfile.yaml

No specific helmfile.yaml

### Error message yo

[2022-10-10 12:23] mumoshu commented on #425
@pathob Thank you for your confirmation! We'll do our best to keep it runtime-environment agnostic.

[2022-10-10 12:54] pathob opened #430 "`.Release.Revision` does not work with chartify / ad-hoc dependencies"
### Operating system

Docker (Ubuntu)

### Helmfile Version

0.147.0

### Helm Version

3.9.0

### Bug description

When chartify / ad-hoc dependencies are being used, `.Release.Revision` always evaluates to 1.

This currently breaks our GitLab deployment, where a Kubernetes job cannot be updated because it's name depends on the revision. See https://gitlab.com/gitlab-org/charts/gitlab/-/blob/mast

[2022-10-10 13:39] yxxhero commented on #425
@mumoshu @pathob I will close this issue.

[2022-10-10 13:39] #425 closed

[2022-10-10 13:40] yxxhero commented on #430
@pathob any other version can work?

[2022-10-10 15:00] poligraph opened #431 "function fetchSecretValue fails if cannot find secret"
### Operating system

MacOS

### Helmfile Version

v0.145.3

### Helm Version

v3.10.0

### Bug description

Previously I store secrets in sops encrypted file and used `get` function for accessing this secrets.
I have quite a lot of environments and it's not always all secrets exist in every env.

`get` function could have default value as described here:
https://github.com/helmfile/helmfile/blob/

[2022-10-10 15:04] poligraph commented on #431
related issue and discussions:
https://github.com/roboll/helmfile/issues/1728
https://github.com/variantdev/vals/issues/52
https://github.com/helmfile/helmfile/discussions/111
https://github.com/roboll/helmfile/issues/465
https://github.com/roboll/helmfile/pull/1268/files#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R535

[2022-10-10 21:30] mumoshu commented on #430
@pathob Thanks! I doubt this might be a technical limitation of charity. It internally uses `helm template` to render the chart into a set of manifests, so that it can run kustomize on it, wrap it into a temporary chart so that we can bring in ad-hoc dependencies via helm, etc. And, `helm template` does not support setting `Resource.Revision` upfront https://github.com/helm/helm/issues/10690

That

[2022-10-11 00:10] mumoshu commented on #429
The error message seems to indicate that it's failing at https://github.com/variantdev/vals/blob/b5ed17917141a64cb3f4fcdc0b57fe6d69835c7c/vals.go#L238. It does look like it would fail if multiple `Eval` function calls are made concurrently on a single instance of `vals`, which might be the case when you have two or more releases that uses `chartify` in helmfile.yaml and your helmfile concurrency i

[2022-10-11 00:26] yxxhero commented on #429
@mumoshu I think so. maybe we should create a PR for vals.

[2022-10-11 00:54] #399 closed

[2022-10-11 01:14] pathob commented on #430
Hi @mumoshu

I saw that answer coming. One stupid question: Does chartify even need to run `helm template` if kustomize is not used, but we just want to make use of the ad-hoc dependencies? I highly depend on ad-hoc dependencies but I have no use-case at all (yet) for kustomize, so if that limitation is only related to kustomize, I would love to see it working with ad-hoc dependencies at least.

T

[2022-10-11 01:33] mumoshu commented on #430
It does sound like a valid and good feature request for chartify! Maybe letting chartify to use helm-fetch and update the included Chart.yaml in-place would work. The only issue I can think of is that it would never work once you started using other chartify features like patching- so it would work only for your specific use-case.

Maybe it is worth a feature request against the GitLab chart, at l

[2022-10-11 01:57] pathob commented on #430
Are there more features involved besides the ad-hoc dependencies and everything related to kustomize? If not, I think it would be valid to state in the documentation that the use of kustomize has this limitation.

That's a good point for a PR at GitLab. Thanks!

[2022-10-11 03:57] mumoshu commented on #430
Thanks. Yeah maybe... My concern is almost that I can't believe everyone read the documentation first and notice the little note about the limitation and fully understand the context. I'm afraid of getting asked to somehow overcome the limitation over and over, even though this is fundamentally an issue in the chart which doesn't support helm-template properly.

In addition, I'm not going to use t

[2022-10-11 21:38] mumoshu commented on #430
See https://github.com/variantdev/chartify/pull/40

[2022-10-12 00:50] yxxhero commented on #431
@poligraph could you try to use `default`? Thanks very much.

[2022-10-12 04:14] yxxhero commented on #431
@poligraph  @mumoshu
add new func fetchSecretValueWithDefault?

[2022-10-12 04:35] mumoshu commented on #431
@yxxhero I think you can't chain it with `default` because it returns an error when the secret is not found. And we have a similar function that works on `.Values` that is named `get`, which takes the default value as the second parameter. Maybe just add the optional second parameter as similar as the `get` function so that they are consistent?

[2022-10-12 05:20] yxxhero commented on #431
@mumoshu yes. good idea.

[2022-10-12 06:31] yxxhero commented on #431
@mumoshu @poligraph
Let me ask a few questions. Errors will occur under the following conditions. Under what conditions is it safe for us to return the default value
1. Network error
2. Authority issues
3. Secret does not exist

[2022-10-12 08:42] poligraph commented on #431
@mumoshu I think behaviour of `fetchSecretValue` should be the same as `get`

@yxxhero not sure about all three cases, but it should return default value if secret or secret version does not exist.

[2022-10-12 08:50] yxxhero commented on #431
@poligraph The key question is how to know the secret or secret versions do not exist.

[2022-10-13 01:56] yxxhero commented on #429
@mumoshu fixed in https://github.com/variantdev/vals/pull/104

[2022-10-13 11:54] sisrael-dn opened #435 "`.Release.Labels` are not available within values templates"
### Operating system

macOS Monterey Version 12.5

### Helmfile Version

0.147.0

### Helm Version

3.10.1

### Bug description

Since 0.147.0 it seems like `.Release.Labels` are no longer available to use within values templates.
Same example works fine with previous releases.

### Example helmfile.yaml

helmfile.yaml:
[code]

jenkins.yaml.gotmpl:
[code]

### Error message you've seen (if any)

i

[2022-10-13 12:11] poligraph commented on #431
@yxxhero if there is no secret reference in config file error is
[code]

if reference exists in config file, but no in secret manager error is
[code]

[2022-10-13 12:12] yxxhero commented on #435
@sisrael-dn I will work on this.

[2022-10-13 12:21] yxxhero commented on #431
@poligraph ok. Thanks for your tips.

[2022-10-13 13:16] yxxhero commented on #435
see: https://github.com/helmfile/helmfile/issues/394, we upgrade the yaml library into v3. it allows key overrides.

@mumoshu what do you think？ this should be an incompatible change, should we keep the new behavior, or fall back to v2?
I think this v3 upgrade is normal, and this override behavior should be in line with the current yaml logic.

[2022-10-13 13:19] yxxhero commented on #435
@sisrael-dn upgrade your helmfile.yaml as shown above. It will be work correctly.

[2022-10-14 05:45] yxxhero commented on #435
@sisrael-dn ping

[2022-10-14 08:49] BernhardGruen opened #438 "Using multiple templates (anchors) is broken in 0.147.0 (was OK in 0.146.0)"
### Operating system

Ubuntu 22.04

### Helmfile Version

0.147.0

### Helm Version

3.10.1

### Bug description

Hey,

it seems using two anchor templates (<<) within one release is broken with 0.147.0. It worked correctly with 0.146.0. I am not sure if this usage of anchor templates was intended but it at least was possible. If I only use one template per release everything is fine.

Please, if

[2022-10-14 09:19] yxxhero commented on #438
@BernhardGruen it's because of YAML v3.
@mumoshu WDYT?

[2022-10-14 09:35] BernhardGruen commented on #438
Thank you @yxxhero
YOU ARE MY HERO!

This works for me. It also works with version 0.146.0 with that syntax.

I'll close this ticket as this issue is solved.

[2022-10-14 09:35] #438 closed

[2022-10-14 09:37] yxxhero commented on #438
more details see: https://yaml.org/type/merge.html  @BernhardGruen

[2022-10-14 23:53] yxxhero commented on #392
@rishm069 ping

[2022-10-15 00:45] yxxhero commented on #397
@violaodorata I will work on this.

[2022-10-15 01:08] yxxhero commented on #397
@violaodorata --debug. I want to the debug output.

[2022-10-16 23:55] yxxhero commented on #435
@mumoshu WDYT about this issue? Thanks very much.

[2022-10-16 23:56] yxxhero commented on #429
@mumoshu I had done in https://github.com/variantdev/vals/pull/104 again.

[2022-10-18 11:07] mumoshu commented on #435
@sisrael-dn @yxxhero If we were to allow `Release.Labels` as a template parameter for other fields like the release name and release namespace, how would one do the opposite? For instance, how can we enable folks who want to use Release.Labels as a parameter, while enabling others to use Release.Namespace or Release.Name as a template parameter to dynamically render the Release.Labels..?
We're bas

[2022-10-18 12:51] chillum opened #445 "0.147.0 fails to execute diff"
### Operating system

Windows 11 21H2

### Helmfile Version

Helmfile version 0.147.0

### Helm Version

[code]

### Bug description

after upgrading helmfile from 0.145.4 to 0.147.0 I get an error with the helmfile that previously worked.
reproducable both with helm-diff 3.5.0 and 3.6.0.

I run `helmfile diff` and get the error.

### Example helmfile.yaml

[code]

### Error message you've seen (i

[2022-10-18 13:21] yxxhero commented on #445
@chillum Please show the debug output by adding the --debug option.

[2022-10-18 13:38] chillum commented on #445
@yxxhero, attaching the relevant parts:

[code]

it seems to me that somehow the slash in `helm diff` got replaced by a backslash (Windows directory separator, but not relevant in this place).

[2022-10-18 14:08] yxxhero commented on #445
@chillum Thanks for your logs. I will fix this issue for the window platform.

[2022-10-19 08:24] vavdoshka commented on #431
Is there a way to run `template` with some sort of `dry-run` which would ignore the secrets fetch completely?
Putting some static placeholder instead of `ref+` references would also work.

The goal is to be able to `template` the manifests in environments where there is no access to secret backends.

[2022-10-19 09:42] mumoshu commented on #431
What's the point of doing this? If you don't have access to the secrets backend, shouldn't it just fail so that you can see why it doesn't work, rather than silently behaving as if it works?

[2022-10-19 09:43] jim-barber-he opened #450 "The `test` option has become fussy with command line option ordering"
### Operating system

Debian stable (bullseye 11)

### Helmfile Version

0.147.0

### Helm Version

v3.10.1

### Bug description

Running
[code]
results in the error:
[code]

But running it like so:
[code]
works:
[code]

I'm not sure what version this broke at, but it was working for version 0.145.2 of helmfile (with helm 3.9.2).

### Example helmfile.yaml

[code]

### Error message you've seen (i

[2022-10-19 09:48] tdaniely-dn commented on #435
Our error is in the values render, not in the template render, that works fine.

[2022-10-19 09:55] vavdoshka commented on #431
So our devs are developing their Helmfiles locally, within the envs with no access to secret backend,
Then the Helmfile is executed in ArgoCD with all the access so it actually renders correct manifest. (Instead of ArgoCD I can imagine it could be something like GitLab CI for example).

The goal is to simplify and shorten the feedback loop when developing Helmfile.
Local mock of secrets backend is

[2022-10-19 10:02] yxxhero commented on #450
@jim-barber-he Please show the debug output by adding the --debug option.

[2022-10-19 10:09] yxxhero commented on #445
@chillum fixed: https://github.com/helmfile/helmfile/pull/451

[2022-10-19 10:18] #445 closed

[2022-10-19 10:44] sisrael-dn commented on #435
@yxxhero thank you for your explanation & suggestion, I have tested it and it seems to work with latest helmfile.
However, I understand I now need to duplicate all labels for each release and can't trust they will be taken from template labels as before if missing.

[2022-10-19 10:46] vavdoshka commented on #431
indeed, nice approach @mumoshu

[2022-10-19 10:48] yxxhero commented on #435
This may be an incompatible change, but it conforms to the yaml specification. @sisrael-dn

[2022-10-19 12:26] jim-barber-he commented on #450
Debug output
[code]

[2022-10-19 12:28] jim-barber-he commented on #450
And also debug output when switching the command line option around so that `test` is before the `-e` and `-l` options:
[code]

[2022-10-19 12:42] jim-barber-he commented on #450
It also has the same problem with version 0.146.0 of helmfile.

If I go back to helmfile 0.145.2 but still using helm 3.10.1 then it works okay.
So I started trying the releases in between and found that the problem appears at version `0.145.3`

[2022-10-19 12:47] yxxhero commented on #450
@jim-barber-he Thanks for your feedback.

[2022-10-19 12:53] yxxhero commented on #450
@yxxhero I think this issue is only when the env name is test because subcommand is test too.

[2022-10-19 12:58] yxxhero commented on #450
@jim-barber-he

[2022-10-19 16:02] pathob commented on #431
There is even an easier way, I'm also doing that with the `echo` and the Azure KeyVault backends:

[code]

:)

[2022-10-19 23:58] jim-barber-he commented on #450
That works.
[code]

[2022-10-20 00:00] mumoshu commented on #435
@tdaniely-dn Thanks, gotcha. But it should be avialable via this part of code https://github.com/helmfile/helmfile/blob/f2be4861d5c1eb58bc63bf7a1254f80aa06d7725/pkg/state/state_exec_tmpl.go#L31 Not yet sure what's happening there 325

[2022-10-20 00:00] yxxhero commented on #450
@jim-barber-he Thanks for your feedback. I will create an issue for the cobra project.

[2022-10-20 00:05] yxxhero commented on #429
@pathob Waiting for the PR  https://github.com/variantdev/vals/pull/104 to be merged and released.

[2022-10-20 06:04] yxxhero commented on #450
@jim-barber-he if cobra fixed. I will post a PR for this issue.

[2022-10-20 23:37] joshuasimon-taulia opened #454 "helmfile template --args swallows args"
### Operating system

OSX 10.14.6 (18G9323), Ubuntu 22.04.1 LTS

### Helmfile Version

0.147.0, 0.144.7

### Helm Version

v3.9.0

### Bug description

`helmfile template` seems to be excluding additional `--api-versions` flags from `args`
[code]
in the first example, ` --api-versions=networking.k8s.io/v1/Ingress` is not correctly passed to `helmfile template` resulting in the wrong api version re

[2022-10-21 00:13] yxxhero commented on #454
@joshuasimon-taulia please show the debug output by adding `--debug`.

[2022-10-21 06:44] joshuasimon-taulia commented on #454
the relevant debug output is in the issue body:
[code]

here's the rest
[code]

it seems like this issue has been around for a while https://github.com/roboll/helmfile/issues/457

[2022-10-21 09:57] pjotre86 opened #455 "Chartify not applied to "needed" releases"
### Operating system

Linux Mint 20.3

### Helmfile Version

0.147.0

### Helm Version

3.8.2

### Bug description

Assume you have release A which points to a folder containing plain k8s manifests. Then you have release B which depends on release A (usings `needs`). Now you want to deploy the release B with `--include-needs`, like:

`helmfile -l name=releaseB sync --include-needs`

### Expected b

[2022-10-21 11:02] pjotre86 commented on #455
I just noticed that it works when you do it like:
`helmfile -l name=azuredisk-csi-storageclass -l name=azuredisk-csi-driver sync`

[2022-10-22 02:55] yxxhero commented on #454
[code]

I see. I want your origin command. @joshuasimon-taulia

[2022-10-22 06:13] yxxhero commented on #455
@pjotre86 Please show the debug output by adding --debug.

[2022-10-22 09:13] yxxhero commented on #455
fixed: https://github.com/helmfile/helmfile/pull/458

[2022-10-22 09:13] yxxhero commented on #455
@mumoshu

[2022-10-22 09:25] pjotre86 commented on #455
Wow, that was quick! Later this weekend I'll have the chance to test it, I'll let you know. Thanks a lot!

[2022-10-22 09:37] yxxhero commented on #455
@pjotre86 looking forward to your feedback.

[2022-10-22 09:39] yxxhero commented on #455
@pjotre86 If you can, you can fill in https://github.com/helmfile/helmfile/blob/main/USERS.md , to support the development of helmfile. Thanks very much.

[2022-10-22 10:15] pjotre86 commented on #455
Works like a charm for my use case! Great job!

[2022-10-24 09:49] #455 closed

[2022-10-24 20:36] itscaro opened #463 "--debug is not set in helm template"
### Operating system

Windows

### Helmfile Version

0.147.0

### Helm Version

3.10.1

### Bug description

--debug is not transferred to helm template

### Example helmfile.yaml

try basic one

### Error message you've seen (if any)

debug command does not show `helm template --debug`

### Steps to reproduce

no need

### Working Helmfile Version

0.147.0

### Relevant discussion

_No response_

[2022-10-24 20:37] itscaro commented on #463
@yxxhero Could you have a quick check on this one, I did not investigate, I encounter this when updating from <0.145 to 0.147

[2022-10-24 23:23] yxxhero commented on #463
OK.

[2022-10-25 00:04] yxxhero commented on #463
@itscaro good catch. I will fix it.

[2022-10-25 00:25] yxxhero commented on #463
@itscaro please see: https://github.com/helmfile/helmfile/pull/465

[2022-10-25 06:36] #463 closed

[2022-10-25 10:35] itscaro opened #468 "Issue with windows separator"
### Operating system

Windows 11/10

### Helmfile Version

0.147.0

### Helm Version

3.10.1

### Bug description

`Upgrading release=xxx, chart=repo\chart`

Note "\" in the output.

This bug break helmfile with cygwin/bash.

In powershell + busybox, "\" does not break helm/helmfile, but it's still not nice to see "\"

helmfile template works but not helmfile sync, if it helps to investigate

###

[2022-10-25 10:40] yxxhero commented on #468
@itscaro fixed: https://github.com/helmfile/helmfile/pull/451  could you test it on your windows?

[2022-10-25 10:48] itscaro commented on #468
@yxxhero Thanks, I will try

[2022-10-25 11:53] itscaro commented on #468
@yxxhero Tested on pwsh + busybox and bash + cygwin. all are good ! thanks :-)

[2022-10-25 11:53] #468 closed

[2022-10-25 23:05] eigood opened #472 "Ad-hoc dependencies using kustomization no longer work"
### Operating system

Debian Bullseye

### Helmfile Version

0.145.0

### Helm Version

version.BuildInfo{Version:"v3.9.0", GitCommit:"7ceeda6c585217a19a1131663d8cd1f7d641b2a7", GitTreeState:"clean", GoVersion:"go1.17.5"}

### Bug description

https://github.com/roboll/helmfile/issues/1762#issuecomment-1221450013

### Example helmfile.yaml

Example given in the description

### Error message you'v

[2022-10-26 08:05] itscaro opened #473 "OCI charts do not work with helmfile fetch"
### Operating system

Windows 11/10

### Helmfile Version

0.147.0

### Helm Version

3.10.1

### Bug description

helmfile fetch does not download and untar OCI charts if the chart is not referenced with `repositories`

### Example helmfile.yaml

[code]

[code]

### Error message you've seen (if any)

[code]

[code]

### Steps to reproduce

N/A

### Working Helmfile Version

N/A

### Relevant dis

[2022-10-26 10:26] leotomas837 opened #474 "Command 'helmfile deps' returns 'There are no repositories defined in your helmfile.yaml.' while it is."
### Operating system

macOS Monterey 12.3.1

### Helmfile Version

0.147.0, darwin arm64

### Helm Version

3.10.1

### Bug description

[1] Command `helmfile deps` results in an error message (with [2.1] and [2.2]), stating that the `repositories` block is not defined in the `helmfile.yaml` file while it is. Note that the return code is yet always 0.

[2.1] Having the `releases[].dependencies` bl

[2022-10-26 13:46] poligraph commented on #431
Hi @mumoshu I am just wondering if it any chance to see fix in the nearest future?

Thanks.

[2022-10-27 07:29] strainovic opened #478 "Error: non-absolute URLs should be in form of repo_name/path_to_chart"
### Operating system

Windows 10

### Helmfile Version

0.147.0

### Helm Version

3.10.1

### Bug description

After upgrade to the helmfile 0.147.0, I'm unable to sync environment.

### Example helmfile.yaml

not relevant

### Error message you've seen (if any)

Error: non-absolute URLs should be in form of repo_name/path_to_chart, got: third-party%5Cactivemq-artemis

### Steps to reproduce

hel

[2022-10-27 10:16] yxxhero commented on #478
@strainovic Thanks for your issue. fixed: https://github.com/helmfile/helmfile/pull/451

[2022-10-27 10:16] #478 closed, assigned to nobody

[2022-10-27 14:06] aeimer opened #479 "brew zsh autocompletion broken"
### Operating system

MacOS 12.6

### Helmfile Version

0.147.0

### Helm Version

3.10.0

### Bug description

After the latest call of `brew update ; brew upgrade` the helmfile command fails for autocompletion. brew uninstall and brew install of helmfile did not help.

### Example helmfile.yaml

---

### Error message you've seen (if any)

[code]

### Steps to reproduce

---

### Working Helmfil

[2022-10-27 14:45] yxxhero commented on #479
try:
[code]

[2022-10-27 14:58] aeimer commented on #479
Hi @yxxhero
I have found that help page. But beforehand the autocomplete install with brew worked 100% fine, why is it broken now?

[2022-10-27 16:41] allinonedashboard commented on #310
facing  the similar issue
Error: failed to download "bitnami/ingress-nginx" at version "4.2.5"
Do i need to add it manually the helm repo add?

[2022-10-27 16:55] allinonedashboard commented on #310
if i do helmfile -f helmfile.yaml repos before apply its adding the repos

[2022-10-27 23:45] yxxhero commented on #479
@aeimer maybe since `helmfile` changed to use `cobra` as the CLI library. I will post an issue for the brew to resolve this.

[2022-10-27 23:58] yxxhero commented on #479
@aeimer please show your helmfile version.

[2022-10-27 23:59] yxxhero commented on #479
@aeimer BTW. brew is not maintained by us.

[2022-10-28 06:10] yxxhero commented on #479
@aeimer if you have other questions. Please post a new issue. thanks very much.

[2022-10-28 06:10] #479 closed

[2022-10-28 06:39] aeimer commented on #479
Well I did: `0.147.0`

@yxxhero have you opened a ticket? Would you mind refrencing it? Thanks for the help

[2022-10-28 07:54] yxxhero commented on #479
@aeimer I haven't done it yet. If you have time, you can propose an issue. If need my help. Please tell me.

[2022-10-28 08:39] aeimer commented on #479
Here we go: https://github.com/Homebrew/homebrew-core/issues/114158

[2022-10-28 09:04] strainovic opened #481 "System path added to requiredEnv if env starts with slash"
### Operating system

Windows 10

### Helmfile Version

0.146.0

### Helm Version

3.10.1

### Bug description

When we set env variable TEST='/path' and refer to it with "{{ requiredEnv `TEST` }}", within git bash, output in the rendered manifest will get `C:/Program Files/Git/path`. If we remove the slash, the manifest will get `path`.

Any explanation for this?

Thanks

### Example helmfile.yam

[2022-10-28 12:44] yxxhero commented on #481
@strainovic please show your helmfile. So I will check what happened.

[2022-10-28 15:02] strainovic commented on #481
[code]

Content of `helmfile.yaml`

[code]

[code]

[code]

As you can see, path has value of `C:/Program Files/Git/aaa`

I ran this from the GitBash shell.

[2022-10-28 23:39] yxxhero commented on #481
try:
[code]

[2022-10-29 11:56] saikiran2603 opened #482 "helmfile fails with CRD is used by following release. no matches for kind "Tenant" in version "minio.min.io/v2""
### Operating system

Ubuntu

### Helmfile Version

Helmfile version 0.146.0

### Helm Version

version.BuildInfo{Version:"v3.7.0", GitCommit:"eeac83883cb4014fe60267ec6373570374ce770b", GitTreeState:"clean", GoVersion:"go1.16.8"}

### Bug description

When a release contains CRD, the applied CRD is not recognized by the following release. Although the same commands in Helm works properly without a

[2022-10-29 12:02] yxxhero commented on #482
@saikiran2603 Please show the debug output by adding the --debug flag.

[2022-10-29 12:15] saikiran2603 commented on #482
[HelmfileDebug.txt](https://github.com/helmfile/helmfile/files/9893634/HelmfileDebug.txt)
Attaching the debug output for the command.

[2022-10-29 14:12] yxxhero commented on #482
[code]

[2022-10-29 14:35] yxxhero commented on #482
@saikiran2603
1. use needs feature.
2. use sub helmfile feature.

[2022-10-29 14:56] yxxhero commented on #474
@leotomas837
[code]
could you give me a example?

[2022-10-29 16:36] saikiran2603 commented on #482
@yxxhero Thanks for the input ! , needs didnt work , but sub helmfile did work. I was able to split the operator to separate helm file and was able to install it properly.

Just one last Question , does a remote path work in helmfile ?

[code]
would i be able to use a github repo file path here ? i went by some discussions on the repo regarding an enhancement for this but i could not find if this

[2022-10-29 23:15] yxxhero commented on #482
When use need feature. Please add --include-need flag.

[2022-10-29 23:44] yxxhero commented on #482
git::https://github.com/cloudposse/helmfiles.git@releases/kiam.yaml?ref=0.40.0

[2022-10-30 18:55] leotomas837 commented on #474
@yxxhero

I edited my initial post to give additional details.

I gave all the example in the section ###steps to reproduce :

[1] + [2.1] Broken feature `releases[].dependencies` (or enhancement if it has never been supported ?):
https://github.com/leotomas837/helmfile-bug

[1] + [2.2] Generates `Chart.lock` and `charts/` but still gives the error message [1]:
https://github.com/leotomas837/helmf

[2022-10-31 01:58] yxxhero commented on #474
@leotomas837 Thanks for your feedback.

[2022-10-31 08:21] strainovic commented on #481
[code]

[code]

[2022-10-31 10:15] yxxhero commented on #481
@strainovic I will try to see this. Thanks for your feedback.

[2022-10-31 10:43] yxxhero commented on #481
@strainovic if use `env`, what is it will return?

[2022-10-31 10:46] strainovic commented on #481
[code]
[code]

[2022-10-31 11:45] strainovic commented on #481
I tested it on Ubuntu on Windows WSL and it works fine with the same helm/helmfile versions.

[code]

[code]

[code]

[2022-10-31 11:53] leotomas837 commented on #474
By the way, the error message [1] `There are no repositories defined in your helmfile.yaml` also appears when run `helmfile deps` on a `helmfile.yaml` which reference other `helmfile.yaml` files via `helm files[].path`. Even though everything works fine: the `helmfile.lock` file is generated for each sub-`helmfile.yaml` and the helm repos are added.

[2022-10-31 12:21] yxxhero commented on #482
@yxxhero I close this issue. If you have move questions. please free to post a new issue.

[2022-10-31 13:21] yxxhero commented on #481
@strainovic https://github.com/git-for-windows/build-extra/blob/main/ReleaseNotes.md#known-issues

[code]

[2022-10-31 13:21] yxxhero commented on #481
@strainovic I have on git bash. Please try to test this. And give feedback. Thanks very much.

[2022-10-31 13:53] strainovic commented on #481
Yes, it works! :)

[code]

[code]

Maybe this one should be documented somewhere?

Thanks!

[2022-10-31 13:58] strainovic commented on #481
Yes, no problem. Can you please tell me where it would be the most appropriate to document?

Thanks :)

[2022-10-31 14:00] yxxhero commented on #481
https://github.com/helmfile/helmfile/blob/main/docs/templating_funcs.md#requiredenv
you can mention `env` here.

[2022-10-31 14:24] #481 closed

[2022-11-01 05:50] #473 closed

[2022-11-02 10:37] SeWieland opened #489 "Invalid path to Chart when running "helmfile diff""
### Operating system

Windows 10

### Helmfile Version

0.147.0

### Helm Version

3.10.1

### Bug description

Path delimiters to charts are translated to backslashes `\` which breaks the helm diff plugin since #385

[code]

### Example helmfile.yaml

[code]

### Error message you've seen (if any)

Error: Failed to render chart: exit status 1: Error: non-absolute URLs should be in form of repo_na

[2022-11-02 10:39] yxxhero commented on #489
@SeWieland Thanks for your issue. this issue had be fixed. in the next release will be ok.

[2022-11-02 10:39] #489 closed

[2022-11-03 06:51] #259 closed

[2022-11-03 11:54] xiaomudk commented on #474
@yxxhero @leotomas837 Let me try to fix it.

[2022-11-03 12:01] yxxhero commented on #474
@xiaomudk ok. assign to you. Thanks very much.

[2022-11-03 19:49] tonygilkerson opened #491 "State values not treating "yes" and "no" as boolean values in gotmpl files"
### Operating system

macOS Monterey Version 12.6

### Helmfile Version

v0.147.0

### Helm Version

3.10.1

### Bug description

The following state value `foo: no` when used in an if-statement does not work.  It is treating the value as a string and because it is non-nil it is truthy, it should be false.

I can confirm that this bug does not exist in helmfile v0.146.0

### Example helmfile.yaml

[2022-11-04 00:59] yxxhero commented on #491
@tonygilkerson try to use true or false.

[2022-11-04 01:41] yxxhero commented on #491
@tonygilkerson see: https://pkg.go.dev/gopkg.in/yaml.v3#readme-compatibility

[2022-11-04 02:16] #454 closed

[2022-11-04 06:32] #430 closed

[2022-11-04 06:33] yxxhero commented on #429
fixed: https://github.com/helmfile/helmfile/pull/492

[2022-11-04 06:33] #429 closed

[2022-11-04 08:33] yxxhero commented on #491
@tonygilkerson looking forward to your feedback. Thanks very much.

[2022-11-04 10:39] franco87 opened #493 "yaml merge keys is broken"
### Operating system

Ubuntu 20.04

### Helmfile Version

0.147.0

### Helm Version

version.BuildInfo{Version:"v3.9.2", GitCommit:"1addefbfe665c350f4daf868a9adc5600cc064fd", GitTreeState:"clean", GoVersion:"go1.17.12"}

### Bug description

The merge keys feature is broken when using yaml anchors. The keys are not merged but overrode. Might be related with #396

### Example helmfile.yaml

[code]

[2022-11-04 10:45] yxxhero commented on #493
see: https://github.com/go-yaml/yaml/issues/915
[merge key](https://yaml.org/type/merge.html)

[2022-11-04 10:47] yxxhero commented on #493
This is expected behavior. in YAML 1.2 @franco87

[2022-11-04 11:28] franco87 commented on #493
Thanks @yxxhero

I let here for other people a way to address this issue. Just avoid deep merges using multiple templates with just one level.

[code]

[2022-11-04 11:28] #493 closed

[2022-11-04 17:44] immerrr opened #496 "helmfile v0.147 does not work with helm v3.5.4 and "helm diff" plugin v3.1.3"
### Operating system

Ubuntu 20.04 LTS

### Helmfile Version

0.145.0 (0.147.0 fails with the same error)

### Helm Version

3.5.4

### Bug description

`helmfile diff` operation fails because of a cmdline flag (`--colors`) passed to what looks like an older version of `helm diff` plugin.

[code]

The documentation states that helm diff versions down to `v2.9.0+1` should be supported, hence the bu

[2022-11-04 17:59] ismailyenigul commented on #496
@immerrr `--color` option is available in https://github.com/databus23/helm-diff/releases/tag/v3.4.0
you are using `diff 3.1.3`  and you need to update your helm-diff to the latest.
`helm plugin update https://github.com/databus23/helm-diff`

[2022-11-04 19:03] immerrr commented on #496
Yep, upgrading diff plugin helped, if that's the intended solution I guess it's just the doc that needs a minor tweak (w.r.t. minor helm diff version requirement)

[2022-11-04 21:38] joshuasimon-taulia commented on #454
[code]
args are no longer swalled and correct ingress api version is rendered. thank you!

[2022-11-04 22:08] joshuasimon-taulia opened #498 "helmfile template fails when selector matches a chart fetched with go-getter"
### Operating system

OSX 10.14.6 (18G9323), Ubuntu 22.04.1 LTS

### Helmfile Version

build from main branch, 0.147.0, 0.144.7

### Helm Version

v3.9.0, v3.10.1

### Bug description

when using `helmfile --debug  -l name=acme-jx template` to select a chart that is fetched using go-getter syntax, `helmfile template` results in the following error

[code]

I tried adding `skipDeps: true` to the re

[2022-11-04 23:29] yxxhero commented on #496
@immerrr @ismailyenigul i will update document. Thanks very much.

[2022-11-04 23:34] #496 closed

[2022-11-04 23:49] yxxhero commented on #498
@joshuasimon-taulia
1. install helm-git plugin
2. use format: git+https://github.com/reactiveops/polaris@deploy/helm?ref=master

thanks very much.

[2022-11-04 23:58] joshuasimon-taulia commented on #498
is go-getter syntax deprecated?

[2022-11-05 00:19] yxxhero commented on #498
@joshuasimon-taulia it seems like not be supported. remote helmfile can use go-getter syntax.

[2022-11-05 00:20] yxxhero commented on #498
@joshuasimon-taulia did you use this syntax ever?

[2022-11-05 00:40] joshuasimon-taulia commented on #498
it works without the `-l name=acme-jx` selector using the above helmfile.yaml
ex: `helmfile template`

[code]

[2022-11-05 01:01] yxxhero commented on #498
@joshuasimon-taulia ok. I will work on this.

[2022-11-05 01:05] yxxhero commented on #498
@joshuasimon-taulia by the way. Could you try use the main branch to test. Thanks very much.

[2022-11-05 01:52] joshuasimon-taulia commented on #498
the `helmfile` binary i used for these tests was built from the main branch

[2022-11-05 01:56] joshuasimon-taulia commented on #498
im investigating the interaction between [state.PrepareCharts](https://github.com/helmfile/helmfile/blob/ce6f8fc9ecbfff2c2149303e9f48684a96712db5/pkg/state/state.go#L1033-L1300) and [state.SelectReleasesWithOverrides](https://github.com/helmfile/helmfile/blob/ce6f8fc9ecbfff2c2149303e9f48684a96712db5/pkg/state/state.go#L2086-L2093). i don't see anything obviously wrong

[2022-11-05 03:05] yxxhero commented on #498
@joshuasimon-taulia Thanks very much. I will solve this issue.

[2022-11-05 04:47] yxxhero commented on #498
[code]

[2022-11-05 04:47] yxxhero commented on #498
@joshuasimon-taulia namespace

[2022-11-05 07:30] yxxhero commented on #498
@joshuasimon-taulia please try to use https://github.com/helmfile/helmfile/pull/499.

[2022-11-05 17:45] xiaomudk commented on #474
First of all, it needs to be clear that `helmfile deps` only records `releases chart name`, not `dependencies` field.
`helmfile deps` is applicable when the chart version is not declared in releases, but you want to lock the chart version.
@mumoshu Am i right?

[2022-11-05 19:57] joshuasimon-taulia commented on #498
success!
[code]
thank you!

[2022-11-06 04:17] yxxhero commented on #491
@tonygilkerson I will close this issue. if you have new any issues. please free to post a new issue.

[2022-11-06 04:17] #491 closed

[2022-11-06 10:29] mabrarov opened #500 ""destroy" command doesn't pass value of "--args" parameter into "helm list" command"
### Operating system

CentOS 7

### Helmfile Version

0.147.0

### Helm Version

v3.10.0

### Bug description

Refer to https://github.com/mabrarov/helmfile-test/blob/main/README.md#uninstall-helm-release-with-helmfile

When calling:

[code]

I get the following output with error:

[code]

while expected exit status is `0` with removal of `my-release` Helm release from `myproject` namespace of Ope

[2022-11-06 14:16] yxxhero commented on #500
@mabrarov please show the full debug output by add --debug flag.

[2022-11-06 14:42] leotomas837 commented on #474
@xiaomudk I can bring some context if that is ok.

First issue [1], the following error message is outputted by `helmfile deps` in several cases when it should not. See example in my original post as well as my third comment.

`There are no repositories defined in your helmfile.yaml`

The other 'issue' is that the `releases[].dependencies` are not included in the `helmfile.lock`. I have been told

[2022-11-06 18:30] mabrarov commented on #500
Hi @yxxhero,

I have updated description of this issue with output you asked for and with repro repo.

Thank you.

[2022-11-07 00:14] yxxhero commented on #500
Let me try to explain:

  - It has been provided as-is, and never intended to work reliably because it's fundamentally flawed because we have no way to specify which args to be passed to which `helm` commands being called by which `helmfile` command.
  - However, I periodically see a new user finds it's not working and reporting it as a bug([the most recent example](https://github.com/roboll/helmf

[2022-11-07 00:55] mabrarov commented on #500
Hi @yxxhero,

I agree that `--args` is not the best solution, but Helmfile doesn't support natively `--kube-apiserver`, `--kube-token` and `--kube-insecure-skip-tls-verify` Helm parameters, which makes it hard to use Helmfile without kubeconfig file (Helmfile doesn't support native `--kubeconfig` Helm parameter too).

I implemented a workaround for this issue by creating a temporary kubeconfig fil

[2022-11-07 01:01] yxxhero commented on #500
@mumoshu ping WDYT?

[2022-11-07 01:05] mumoshu commented on #500
Then we should enhance our helmfile.yaml to support those fields, so that you can do it declaratively!

[2022-11-07 01:08] mabrarov commented on #500
Hi @mumoshu,

I like declarative approach, but we cannot put authentication token into helmfile.yaml, i.e. there will be still some options which Helmfile needs to pick from environment or command line.

Thank you.

[2022-11-07 01:11] yxxhero commented on #500
@mabrarov do you have an interesting to post a PR?

[2022-11-07 01:13] mabrarov commented on #500
Hi @yxxhero,

Sorry, but I do not know Go and Helmfile at the level where I can post a PR.

[2022-11-07 01:14] yxxhero commented on #500
@mabrarov Thanks very much. I will try to do that.

[2022-11-07 18:03] mabrarov commented on #500
Hi @yxxhero and @mumoshu,

If there will be changes in syntax / options of helmfile.yaml, then maybe it's reasonable to allow overriding options defined in `helmDefaults` section by the same name options under each environment defined in `environments` section (i.e. the same name options need to be implemented for environments defined in `environments` section in that case). IMHO, users of Helmfil

[2022-11-08 22:47] ggillies opened #505 "Allow helmfile statefile to passed by stdin"
We are looking at using an external tool (jsonnet) to generate a helmfile state file (helmfile.yaml) to pass to helmfile for execution. However, at the moment we have to do something like

[code]

It would be really nice if we could have helmfile instead support natively passing it the state file on stdin, so we could instead do

[code]

Save us some complexity of creating and cleaning up files on

[2022-11-09 01:51] Cinderhaze commented on #505
There are two solutions that come to mind… one trick I usually use is [process substitution](https://unix.stackexchange.com/a/64011) , where you can make a temporary file handle for the process output.

`jsonnet main.jsonnet <( helmfile -f - apply )`

 You can also use a [named pipe](http://en.wikipedia.org/wiki/Named_pipe)

[2022-11-09 09:57] jakubbujny opened #506 "Environment values not available when using bases"
### Operating system

MacOS 12.6.1

### Helmfile Version

v0.147.0

### Helm Version

version.BuildInfo{Version:"v3.10.1", GitCommit:"9f88ccb6aee40b9a0535fcc7efea6055e1ef72c9", GitTreeState:"clean", GoVersion:"go1.19.2"}

### Bug description

I try to use value from env file to set if chart should be installed or not via flag
```    installed: {{.Values.XXX.enabled}} ```

while using `bases` featu

[2022-11-09 10:02] yxxhero commented on #506
[code]

[2022-11-09 10:06] jakubbujny commented on #506
One possible workaround for the problem is to use `readFile` function to simulate "include" if that's the use case of bases e.g.
[code]

[2022-11-09 10:09] yxxhero commented on #506
is it ok for you? @jakubbujny

[2022-11-09 10:12] jakubbujny commented on #506
ah yes it works actually :+1: it wasn't described in docs that it should be used this way

[2022-11-09 10:14] yxxhero commented on #506
@jakubbujny could you post a PR for the doc? It's very welcome.

[2022-11-09 12:29] #506 closed

[2022-11-09 14:10] tanguofu opened #507 "request for support assign `--post-renderer` in `helmDefaults` of https://helmfile.readthedocs.io/en/latest/#configuration"
### Operating system

centos 7.9

### Helmfile Version

Version            v0.143.4

### Helm Version

version.BuildInfo{Version:"v3.9.0"

### Bug description

helm template and apply and sync command support args : `--post-renderer postRendererString           the path to an executable to be used for post rendering. If it exists in $PATH, the binary will be used, otherwise it will try to look for

[2022-11-09 14:12] yxxhero commented on #507
@tanguofu PR is welcome.

[2022-11-09 22:17] leotomas837 opened #508 ""helmDefaults.args" does not enable duplicates"
### Operating system

macOS Monterey 12.3.1

### Helmfile Version

0.147.0, darwin arm64

### Helm Version

3.10.1

### Bug description

`helmDefaults.args` does not enable duplicates. I am using the [helm-kubectl](https://github.com/jkroepke/helm-kubectl) plugin and as a consequence I ended up with a `helmfile.yaml` containing the following (roughly):

[code]

The first arg is passed and works as

[2022-11-09 22:52] leotomas837 commented on #508
Looks like the issue is in the [`args.go` file](https://github.com/helmfile/helmfile/blob/ce6f8fc9ecbfff2c2149303e9f48684a96712db5/pkg/argparser/args.go).

[2022-11-09 23:09] yxxhero commented on #508
@leotomas837 please try to use main branch.

[2022-11-09 23:55] leotomas837 commented on #508
@yxxhero Oooops my bad, wrong link indeed. Anyway the file did not change from the main branch.

If it can helped: I tested with the `args.go` file (from the main branch..) and `func GetArgs` works fine, so the issue is not there.

[2022-11-09 23:58] leotomas837 commented on #508
Why did you close the issue ? It still does not work.

[2022-11-10 00:00] yxxhero commented on #508
main branch not work?

[2022-11-10 00:01] leotomas837 commented on #508
Yep I mean I obviously installed helmfile on my pc from the main branch.

[2022-11-10 00:07] yxxhero commented on #508
If it can help: I tested with the args.go file (from the main branch..) and func GetArgs works fine with two same args --set-file, so the issue is not there.

@leotomas837

[2022-11-10 00:26] leotomas837 commented on #508
@yxxhero
It means that the Go function itself works as expected, I tested it for my use case to bring some help as I know that is an open source project so you all workcon your time. Was I wrong ?

But it does not work I mean that is why I opened the issue.

[2022-11-10 00:43] yxxhero commented on #508
@leotomas837 sorry I can't reproduce your issue by using the main branch.
[code]

[2022-11-10 00:45] leotomas837 commented on #508
@yxxhero
I will check the issue again tomorrow, and setup an example repo if I am not wrong.

[2022-11-10 01:02] #508 closed

[2022-11-10 08:12] CrystalMethod opened #509 "Helmfile template logs output from helm on stdout when pulling OCI artifacts"
### Operating system

WSL2/ArchLinux

### Helmfile Version

0.147.0

### Helm Version

v3.10.1

### Bug description

I would like to pass the output of `helmfile template` to datree via stdout/stdin for validating the k8s resources before deploying. But `datree test -` fails because not only the generated Yaml is printed on stdout but also some logging when running `helm pull` for downloading OCI

[2022-11-10 08:28] poligraph commented on #431
@yxxhero @mumoshu Hello guys, is at any progress on that issue?

[2022-11-10 08:31] yxxhero commented on #431
@poligraph I haven't started yet. if you have free time. Please free to post a PR for this feature.

[2022-11-10 09:36] leotomas837 commented on #508
I don't know why I thought that the last release was up-to-date with the main branch. But after checking, indeed some changes were made to `args.go` from the main branch after `0.147.0`, and as mentioned `args.go` from the main works. So it should be resolved in the next release. Thanks for your help @yxxhero !

[2022-11-10 09:53] #509 closed

[2022-11-11 02:16] xiaomudk commented on #505
I'm working on it。

[2022-11-13 02:20] mumoshu commented on #472
@eigood Well, the linked comment seems to be indicating that you can't add a directory containing raw manifests(not a local chart) as an ad-hoc dependency, right? The ad-hoc dependency is handled by Helm so it's how it's currently supposed to work.

[2022-11-13 02:21] mumoshu commented on #472
Updated the issue title to reflect the real issue. It's never supposed to work this way. Probably this is a feature request, not a bug report.

[2022-11-13 07:27] #498 closed

[2022-11-13 09:20] gakesson opened #518 "preapply not working"
### Operating system

Ubuntu 20.04.4 LTS

### Helmfile Version

0.148.1

### Helm Version

v3.9.0

### Bug description

The behavior reported in issue #399 is still present for latest released helmfile version.

Run helmfile apply first time (preapply hook is triggered, which is expected):
[code]

Run helmfile apply again (no preapply hook triggered :-( ):
[code]

### Example helmfile.yaml
[code]

[2022-11-13 10:13] yxxhero commented on #518
@mumoshu do you have free time on this? if not. please ping me.

[2022-11-13 10:13] yxxhero commented on #518
@xiaomudk

[2022-11-13 13:56] yxxhero commented on #518
@gakesson please show the debug log.

[2022-11-13 14:18] yxxhero commented on #518
@gakesson from the code. if no changes. the preapply hook will not run. is it right? @mumoshu @Sajfer

[2022-11-14 01:11] mumoshu commented on #518
@yxxhero Apparently not. I think we had to use `selectedAndNeededReleases` instead of `toApplyWithNeeds` in this line
https://github.com/helmfile/helmfile/blob/bdbfc9106de6f97f80c3145778a5eeff15d83a28/pkg/app/app.go#L1391

[2022-11-14 01:16] yxxhero commented on #518
@mumoshu I saw the code:
https://github.com/helmfile/helmfile/blob/bdbfc9106de6f97f80c3145778a5eeff15d83a28/pkg/app/app.go#L1364-L1371

it will return directly.

[2022-11-14 02:04] mumoshu commented on #518
@yxxhero That might also be problematic!

[2022-11-14 03:09] yxxhero commented on #518
@mumoshu got it.

[2022-11-14 07:35] gakesson commented on #518
@yxxhero is it clear or do I need to provide anything?

[2022-11-14 14:21] leotomas837 opened #523 "Remote/helm plugin values.yaml not working"
### Operating system

macOS Monterey 12.3.1

### Helmfile Version

0.148.1, darwin arm64

### Helm Version

3.10.1

### Bug description

Remote values.yaml not working, and of course it does not work with a downloader plugin too. It should work because it works with `helm --values` (both remote and downloader plugin), and the helmfile doc says:

[code]

### Example helmfile.yaml

[code]

### Error

[2022-11-14 18:17] leotomas837 commented on #523
By looking at the go tests, it looks like helmfile remote `values.yaml` work with a different syntax from helm. I put the syntax below for those looking for it, and I think that it would bring some clarity with an example in the doc and a sentence or two on the syntax difference.
I am still trying to make it working with a downloader plugin though, not sure yet that it works in that case.

[code]

[2022-11-14 23:33] leotomas837 commented on #523
After checking your Go code, I can see that my use case is currently no handled by helmfile, this is not a bug.

Currently helmfile doesn't run the plugin at all, while it should run the `downloaders[].command` for the appropriate `protocols` in the `plugin.yaml`. For example, see in the helmfile repository itself (test/plugins/secrets/4.0.0/helm-secrets/plugin.yaml)[https://github.com/helmfile/he

[2022-11-15 00:07] yxxhero commented on #523
@leotomas837 welcome to post a PR for the docs.

[2022-11-16 10:05] BernhardGruen opened #526 "Issue with helm dependency build . --skip-refresh (see also #444)"
### Operating system

Ubuntu 22.04

### Helmfile Version

0.148.1

### Helm Version

3.10.2

### Bug description

It seems there are some edge cases with the newly (in #444) introduced `--skip-refresh` parameter to helm dependency build if one is using a local chart (like `.` for current directory) that is using a remote chart (like bitnami/postgresql) as a fully qualified dependency (https://char

[2022-11-16 10:21] yxxhero commented on #526
@BernhardGruen do you have the interest to post a PR for this issue? Thanks very much.

[2022-11-16 10:48] BernhardGruen commented on #526
Interest yes, but unfortunately not enough practical knowledge of Go to solve this issue soon or even at all.

[2022-11-16 11:39] yxxhero commented on #526
@indrekj hi. do you have free time to see this issue?

[2022-11-16 12:23] indrekj commented on #526
I can try to check it out this week.

[2022-11-16 12:24] yxxhero commented on #526
@indrekj Thanks very much.

[2022-11-18 16:55] FACOLOMBANI opened #528 "concurrency not working with helmfiles pattern"
### Operating system

Ubuntu 20.04, Mac OS Monterrey 12.6.1

### Helmfile Version

0.148.1

### Helm Version

3.10.2

### Bug description

I have a definition where i have a helmfile per component and a global helmfile specifying the path to the different component helmfiles as follow:

[code]

The problem i am encountering is that each helmfile is being deploy in sequence, 1 by 1, waiting each ti

[2022-11-19 00:23] sjdrc opened #529 "Helmfile apply re-creates resources when field order of yaml manifests change"
### Operating system

Ubuntu 22.04 LTS

### Helmfile Version

v0.147.0

### Helm Version

v3.10.1

### Bug description

I am installing nginx-ingress with helmfile, and am applying updates to the cluster within GitLab CI. The runner executes `HELM_DIFF_THREE_WAY_MERGE=true helmfile apply --skip-diff-on-install --suppress-secrets` on every push to main.

Every time this runs though, I see a big dif

[2022-11-19 00:34] yxxhero commented on #529
@sjdrc if not use HELM_DIFF_THREE_WAY_MERGE=true, what is the behaviour?

[2022-11-20 01:58] sjdrc commented on #529
Without that set it does not display the diff or update the deployment, but as far as I understand I need that option set in order to achieve `sync` like functionality with comparing against my cluster's current configuration. Is that correct?

[2022-11-20 02:47] yxxhero commented on #529
@sjdrc sorry. I can't access: https://dev.to/derlin/helmfile-difference-between-sync-and-apply-helm-3-28o1, please paste the content in the issue.

[2022-11-20 02:53] yxxhero commented on #529
@mumoshu I am not familiar with the HELM_DIFF_THREE_WAY_MERGE feature of helm-diff. what's your opinion? Thanks very much.

[2022-11-20 03:00] mumoshu commented on #529
@sjdrc Hey. Could you file an issue to helm-diff, not helmfile, as you can probably reproduce this with helm-diff alone and Helmfile has nothing to do with HELM_DIFF_THREE_WAY_MERGE itself?

[2022-11-20 03:28] sjdrc commented on #529
I haven't used helm-diff directly but I'll give it a go and reproducing and will file an issue over there.

[2022-11-20 03:28] #529 closed

[2022-11-20 04:44] yxxhero commented on #397
@violaodorata if there is a complete example that can run directly will be better to solve this issue.

[2022-11-20 04:44] yxxhero commented on #397
@violaodorata if there is a complete example that can run directly will be better to solve this issue.

[2022-11-20 12:14] indrekj commented on #526
@BernhardGruen I have a couple of questions. Is the `helmlib` related to the bug or is that just extra?

I tried to reproduce this with:
[code]

I didn't really get your error. I managed to get `Error: no repository definition for https://charts.bitnami.com/bitnami. Please add the missing repos via 'helm repo add'` but that was because I had a `Chart.lock` file.

When I removed all the caches usin

[2022-11-20 21:49] pjotre86 opened #532 "--state-values-set for arrays broken"
### Operating system

Linux Mint 20.3

### Helmfile Version

0.148.1

### Helm Version

3.10.1

### Bug description

The `--state-values-set` parameter seems to have a weird (faulty) behavior when it comes to arrays.
Example:
Given following `helmfile.yaml`:
[code]
Then do a build providing the values using `--state-values-set`:
`helmfile --state-values-set myvalues[0]=HELLO,myvalues[1]=HELMFILE b

[2022-11-21 00:17] yxxhero commented on #532
@xiaomudk do you have free time to see this issue？

[2022-11-21 01:58] yxxhero commented on #532
@pjotre86 good catch. Thanks very much.

[2022-11-21 02:18] xiaomudk commented on #532
@yxxhero @pjotre86 I'll fix it

[2022-11-21 13:17] BernhardGruen commented on #526
Hey @indrekj

thank you for your response. I'll try to publish a Dockerfile to build a container that shows this problem in detail. It seems it is not easy to demonstrate the problem without any possible side effects. But I am still quite sure that the added `--skip-refresh` to `helm dependency build` introduced the problem for us.

[2022-11-21 15:48] BernhardGruen commented on #526
I really hope the following `Dockerfile` helps to clear things up.
Just build it with `docker build --no-cache .` to see the error. You can also change the used Helmfile version in the Dockerfile to verify that 0.147.0 works as expected for that case.

[code]

The expected output will be:
[code]

I am happy to provide more details if needed.

Thank you and have a nice week.

Bernhard

[2022-11-21 23:15] #532 closed

[2022-11-22 00:04] yxxhero commented on #532
@pjotre86 fixed in https://github.com/helmfile/helmfile/pull/533, please try to build with main branch.

[2022-11-22 03:34] #505 closed

[2022-11-23 14:26] BernhardGruen commented on #526
@indrekj sorry I did not ping you in my last comment. I posted a `Dockerfile` to help you showing the issue on your own system.
In case you need any more information, please let me know.

[2022-11-23 20:04] viters opened #536 "`strategicMergePatch` does not allow to add resources"
### Operating system

macOS 12.0.1

### Helmfile Version

v0.148.1

### Helm Version

v3.10.2

### Bug description

![image](https://user-images.githubusercontent.com/13100466/203635792-13e95d90-9389-4f66-a284-554b0e823922.png)

If you create new resource using `strategicMergePatch` it will appear fine in `template` step, but will fail on `diff` (and probably on `apply` as well), as it cannot appl

[2022-11-23 20:06] viters commented on #536
Never mind, I did not read the sentence with clear understanding. I see now it says `you can add/update resource field`, sorry for incorrect issue. Closing.

[2022-11-23 20:06] #536 closed

[2022-11-25 11:02] indrekj commented on #526
Thanks, the dockerfile made reproducing it much simpler. There indeed is something weird happening with local charts. It seems that `helm repo add` takes care of it:

[code]

I'm looking into if and where we can do that automatically in the helmfile.

[2022-11-25 11:43] yann-soubeyrand opened #540 "Temporary directories used for temporary values files are left over"
### Operating system

Fedora 37

### Helmfile Version

0.148.1

### Helm Version

3.10.2

### Bug description

When running `helmfile template`, temporary values files are created in temporary directories named `/tmp/helmfile*`. The temporary values files are removed before the end of the execution, but the temporary directories are left over.

After digging into the code, it seems to me that the

[2022-11-25 12:32] indrekj commented on #526
@BernhardGruen Fix here https://github.com/helmfile/helmfile/pull/541 . Could you try it out on your env as well? The dockerfile example works with this.

[2022-11-25 12:45] yxxhero commented on #540
@yann-soubeyrand I saw you had looked at the code. if you have interesting, please feel free to post a PR for this issue.

[2022-11-25 12:57] BernhardGruen commented on #526
The removal of  "--skip-refresh" from the helm dependency build command works for us. Seems fine to me.
Thank you!

[2022-11-26 03:58] mumoshu commented on #431
I think the renaming or even the functionality of this feature might need careful consideration.

`get` applies the default value only when the value is not found in the given map.
On the contrary, `fetchSecretValueOrDefault` should return the default value only when the given key is empty, not when the said secret is inexistent. At least that seems to be the behavior desired by the OP.

In additi

[2022-11-26 04:53] yxxhero commented on #431
@mumoshu make sense.

[2022-11-27 04:29] leotomas837 commented on #523
So I started to code something in my spare time in the aim of supporting helm plugins in field `values` of helmfile.yaml, (note that helm plugins are already supported by field `set`, but --set-file is overriding values and sometimes we don't want this behaviour). But I found a workaround:

1) In helmfile.yaml, by using the helmfile go template feature, fetch the right command (may depend on os) f

[2022-11-27 04:42] yxxhero commented on #523
@mumoshu WDYT?

[2022-11-27 04:58] leotomas837 commented on #474
@xiaomudk Thanks again for volunteering. Do you have any news about it ?

[2022-11-27 19:53] zifter opened #544 "Defined multiple time helm chart stored OCI Registry is always pulled for each release"
### Operating system

Ubuntu 20.04 TLS

### Helmfile Version

0.147.0

### Helm Version

version.BuildInfo{Version:"v3.10.0", GitCommit:"ce66412a723e4d89555dc67217607c6579ffcb21", GitTreeState:"clean", GoVersion:"go1.18.6"}

### Bug description

I have helmfile, where the same chart is used in multiple releases. Charts are storing in OCI registry.
I have noticed, that for any command helmfile do *

[2022-11-29 00:04] yxxhero commented on #518
ping

[2022-11-29 10:11] ievgenii-shepeliuk commented on #523
Hello

But it worked before, also there's examples of such usage
https://github.com/helmfile/helmfile/blob/main/examples/remote/helmfile.yaml

What happened ?

[2022-11-29 11:13] leotomas837 commented on #523
@ievgenii-shepeliuk

If you look at the helmfile code, it is not using helmfile downloader plugins. Basically what it does is that it uses the `github.com/hashicorp/go-getter` package to get a remote file (see `remote.go`).
The example you gave works because `git::https://github.com/bitnami/charts.git@bitnami/apache?ref=master` is interpreted by the external `go-getter` package as a valid url to f

[2022-11-29 11:23] ievgenii-shepeliuk commented on #523
Well but what's difference if it helm-git / go-getter if it works.
`go-getter` supports fetching from plain https as well, so the problem of OP should be solved.
Am I missing anything ?

[2022-11-29 11:25] leotomas837 commented on #523
Yes you are missing the point: it works for `git` as `go-getter` recognises protocol `git:https` and `git:http` by luck.
But what about all the other helm plugins ?

[2022-11-29 11:33] leotomas837 commented on #523
Another example would be: what about if a helm-plugin is defined for protocols `http` and `https` themselves ? It would use `go-getter` and not the custom plugin.

[2022-11-29 11:41] ievgenii-shepeliuk commented on #523
Hello

I am not sure I am able to follow about those subjects like `helm-git` and helm plugins (???).
Helmfile has support for fetching remote values and this support works ( via go-getter ).

So, the issue that file from OP was not fetched can be same as mine - that I had to remove cache of helmfile.

[2022-11-29 11:44] leotomas837 commented on #523
@ievgenii-shepeliuk I just read the thread again and I understand why you are confused, I may need to change the title and my initial post, because the intermediate comments between and I and @yxxhero were removed. We indeed agreed that it works for remote files but no helm plugins, so then we were on the subject of helm plugins, and I understand now why you only mentioned remote files.

[2022-11-29 11:47] leotomas837 commented on #523
@ievgenii-shepeliuk I may need to change the title/initial post, as indeed as you can see in the comment I re-put below I found that it working with remote values. But not for helm plugins so then we were talking about this.

[2022-11-29 13:55] aeimer opened #550 "Release 0.147.0 introduced template: stringTemplate error"
### Operating system

MacOS 12.6

### Helmfile Version

v0.147.0

### Helm Version

version.BuildInfo{Version:"v3.10.1", GitCommit:"9f88ccb6aee40b9a0535fcc7efea6055e1ef72c9", GitTreeState:"clean", GoVersion:"go1.19.2"}

### Bug description

After updating to 0.147.0 the helmfile refuses to work with:
[code]

With 0.146.0 the helmfile works as expected:
[code]

Tested with 0.148.1, same broken resu

[2022-11-29 13:59] yxxhero commented on #550
@aeimer try to use 0.148.1.

[2022-11-29 14:02] aeimer commented on #550
@yxxhero Already did.

[2022-11-29 14:25] yxxhero commented on #550
[code]

try use this helmfile.yaml @aeimer

[2022-11-29 14:30] yxxhero commented on #550
@aeimer BTW, if your company is using `helmfile`. Please post a PR for https://helmfile.readthedocs.io/en/latest/users/ to support `helmfile`. Thanks very much.

[2022-11-29 14:31] yxxhero commented on #550
@aeimer about yaml syntax see: https://yaml.org/type/merge.html. hope to help you.

[2022-11-29 14:46] aeimer commented on #550
@yxxhero So this helmchart basically worked for the last two years. Now it breaks. I saw in the diff between 0.146.0 and 0.147.0 that go/yaml3 was introduced. Maybe its related to that?
https://github.com/helmfile/helmfile/compare/v0.146.0...v0.147.0#diff-616422b9b983db329c853b3e73274dfdb95b49add7e27bcfd47257923eead1e8R5

Still broken with you suggested change.
[code]

But what is new to me, that

[2022-11-29 14:47] aeimer commented on #550
wow! Ok it works, I just had to fix the path names.

Why in the world does this breaks ... now?

[2022-11-29 15:00] aeimer commented on #550
@yxxhero I would still consider this a breaking change. I mean this exact same helmfile did work for years. Nothing was mentioned in the release notes, thats a bit of a bummer. Also the yamllinting is quite hard on helmfile, isnt it? Is there a possibilty to properly lint a helmfile?

I adapted the original helmfile, the problem is not fixed:
![grafik](https://user-images.githubusercontent.com/250

[2022-11-29 15:06] yxxhero commented on #550
@yxxhero can you update the example so that I can test it?  The yaml version is syntactically compatible for the most part. Some changes have not gone unnoticed. so nothing in the release notes.

[2022-11-29 15:09] aeimer commented on #550
@yxxhero I have updated the demo with your suggestion and it works like a charm (in the demo).

Let me try to find the part that breaks. Unfortunately I cant just send you the whole repo...

[2022-11-30 00:29] yxxhero commented on #550
@aeimer the demo is ok. I can't reproduce your issue. please show debug log by adding the --debug flag. Thanks so much.
BTW. I already update the 0.147.0 release notes. please see it. Thanks so much again.

[2022-11-30 01:44] sjdrc opened #553 "Unable to specify kubeContext via environment variable"
### Operating system

Ubuntu 22.04 LTS

### Helmfile Version

0.147.0-1

### Helm Version

3.10.2

### Bug description

I want to be able to specify the kubeContext by environment variable. I use helmfile in CI and want to reduce the amount of hardcoded values.

We use GitLab for kubernetes integration and CI is able to access kube contexts by specifying `project_group/project_name:agent_name`.

`

[2022-11-30 01:54] yxxhero commented on #553
[code]

maybe kubeContext?

[2022-11-30 06:35] sjdrc commented on #553
Sorry, that was a typo, I meant kubeContext

[2022-11-30 06:44] yxxhero commented on #553
@sjdrc please show the debug log by adding --debug flag.

[2022-11-30 06:45] sjdrc commented on #553
Never mind it literally works, I have no idea why it wasn't working before.Thanks for your quick replies!

[2022-11-30 06:45] #553 closed

[2022-11-30 10:57] aeimer commented on #550
@yxxhero ohhh shame on me... I missed one single mapping. Debugging mode showed:

[code]

So I found https://github.com/go-yaml/yaml/issues/914. Now it seems like to run on 0.147.0. Thank you for the help! I did miss the yaml issues already posted. Thanks for the release uptodate, that should keep you save from more issues like this 🙈

[2022-11-30 10:57] #550 closed

[2022-11-30 13:33] yxxhero commented on #540
@xiaomudk Do you have an interesting in doing this?